<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Error</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />

    <link href="{Resources}/content/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="{Resources}/content/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
    <link href="{Resources}/content/css/core-theme.css" rel="stylesheet" media="screen" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<script type="text/javascript" src="{Resources}/scripts/js-plugins/jquery-1.10.2.min.js" ></script>
		<script type="text/javascript" src="{Resources}/scripts/js-plugins/sha512.js" ></script>
		<script type="text/javascript" src="{Resources}/scripts/js-plugins/sha3.js" ></script>
		<script type="text/javascript" src="{Resources}/scripts/js-plugins/bootstrap.min.js" ></script>
	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-publi">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{Path}/">{ Try-catch } Core</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="menu-publico">
						<ul class="nav navbar-nav navbar-right">
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</div>

			<div class="container">
				<div class="jumbotron">
					<h1>Se ha producido un error interno.</h1>
					<p>
						Contacte con el administrador para resolver el problema. Gracias por su comprensión.
					</p>
					<a href="{Path}/Home" class="btn btn-primary" title="Ir al inicio de la aplicación">Ir a inicio</a>
				</div>
			</div>

		</div>
		<div id="footer">
			<div class="container">
				<p class="text-muted credit">
					{ Try-Catch } wide ICT Solutions © Copyright 2014
					| <a href="{Path}/Home/Privacity">Política de privacidad</a>
				</p>
			</div>
		</div>
	</body>
</html>
