DATABASE_HOST=mysql
DATABASE_NAME=dashboard
DATABASE_PASSWORD=********
DATABASE_USER=dashboard
DEFAULT_HOST=http://dashboard
ENVIRONMENT=local|development|staging|production
SERVICE_NAME=dashboard
SERVICE_VERSION=1.0.0
XDEBUG_MODE=coverage,debug,develop
