DASHBOARD_DATABASE_HOST=mysql
DASHBOARD_DATABASE_NAME=dashboard
DASHBOARD_DATABASE_PASSWORD=********
DASHBOARD_DATABASE_USER=dashboard
DASHBOARD_DEFAULT_HOST=http://dashboard
DASHBOARD_SERVICE_NAME=dashboard
DASHBOARD_SERVICE_VERSION=1.0.0
ENVIRONMENT=local|development|staging|production
