<!--Layout={_layout.html}-->

<script type="text/javascript" src="{Resources}/scripts/js-core/jquery.relations.js" ></script>

<div class="container">

	<input type="hidden" id="relation-url" value="{Path}/User/SetRelation" />
	<input type="hidden" id="user" value="{Entity.Id}" />
	<input type="hidden" id="roles" value='{jsonRoles}' />
	<input type="hidden" id="relations" value='{jsonRelations}' />

	<br />

	<form class="form-horizontal" role="form">
		<div class="form-group">
			<div class="row">
				<label class="control-label col-sm-1">Proyectos</label>
				<div class="col-sm-2">
					<select name="p" id="slcProjects"
						data-value="{IdProject}"
						data-url="{Path}/User/Relations/{Entity.Id}"
						class="form-control" placeHolder="Proyecto"
						onchange="onProjectChange(this);">
						<!--Projects-->
						<option value="{item.Id}" data-id="{item.Id}" >{item.Name}</option>
						<!--Projects-->
					</select>
				</div>
			</div>
		</div>
	</form>

	<div class="row">
		<div class="form-group">
			<h4>Perfiles por servicio</h4>
			<table id="urs" class="table table-bordered table-striped" >
				<thead>
					<tr>
						<th>Serv. \ Role </th>
						<!--Roles-->
						<th data-role="{item.Id}" class="roles" >{item.Name}</th>
						<!--Roles-->
					</tr>
				</thead>
				<tbody>
					<!--Services-->
					<tr data-service="{item.Id}" class="services" >
						<td data-service="{item.Id}" >{item.Name}</td>
					</tr>
					<!--Services-->
				</tbody>
			</table>
		</div>
	</div>
</div>
