<!--Layout={_layout.html}-->

<div class="container">

    <div class="page-header">
        <h2>Configuración del servicio</h2>
    </div>

    <form action="{Path}/Configuration/Save" method="POST" >

        <input type="hidden" name="Project" value="{Project}" />
        <input type="hidden" name="Project" value="{Service}" />

        <div class="row">
            <div class="col-lg-3">
                <h4>Comensales</h4>
                <div class="form-group {eMinDinersClass}">
                    <label class="sr-only">Mínimo de comensales</label>
                    <input type="number" placeholder="Mínimo" name="MinDiners"
                           step="1" min="1" value="{Entity.MinDiners}"
                           class="form-control" />
                    <p class="help-block">
                        Introduzca el número mínimo de comensales en una reserva.
                        {eMinDiners}
                    </p>
                </div>

                <div class="form-group {eMaxDinersClass}">
                    <label class="sr-only">Máximo de comensales</label>
                    <input type="number" placeholder="Máximo" name="MaxDiners"
                           step="1" min="1" value="{Entity.MaxDiners}"
                           class="form-control" />
                    <p class="help-block">
                        Introduzca el número máximo de comensales en una reserva.
                        {eMaxDiners}
                    </p>
                </div>

            </div>
            <div class="col-lg-3">
                <h4>Recordatorios</h4>

                <div class="form-group ">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Reminders"
                                   data-checked="{Entity.Reminders}"  />
                            Activar Servicio de recordatorios
                        </label>
                    </div>
                </div>

                <h5>Parámetros para recordatorios</h5>

                <div class="form-group {eTimeSpanClass}">
                    <label class="sr-only">TimeSpan</label>
                    <input type="number" name="TimeSpan" placeholder="TimeSpan"
                           step="1" min="1" value="{Entity.TimeSpan}"
                           class="form-control" />
                    <p class="help-block">
                        Introduzca el valor del TimeSpan* para el envío de recordatorios.
                        {eTimeSpan}
                    </p>
                </div>

                <div class="form-group {eTimeFilterClass}">
                    <label class="sr-only">Filtro de tiempo</label>
                    <input type="number" name="TimeFilter" placeholder="filtro"
                           step="1" min="1" value="{Entity.TimeFilter}"
                           class="form-control" />
                    <p class="help-block">
                        Introduzca el valor del filtro de tiempo para el envío de recordatorios.
                        {eTimeFilter}
                    </p>
                </div>

                <div class="form-group {eDinersClass}">
                    <label class="sr-only">Comensales</label>
                    <input type="number" name="Diners" placeholder="Comensales"
                           step="1" min="1" value="{Entity.Diners}"
                           class="form-control" />
                    <p class="help-block">
                        Introduzca el mínimo de comensales de una reserva para enviar
                        un recordatorio. {eDiners}
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Otros servicios</h4>

                <div class="form-group ">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Advertising"
                                   data-checked="{Entity.Advertising}"  />
                            Activar Servicio de publicidad
                        </label>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="PreOrder"
                                   data-checked="{Entity.PreOrder}"  />
                            Activar Servicio de prepedido
                        </label>
                    </div>
                </div>

            </div>
        </div>


        <div class="form-group {eResultClass}">
            <p class="help-block">{eResult}</p>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    </form>

</div>

<script type="text/javascript">
    $(function(){
       $.each($("input[type='checkbox']"),function(i,o){
           if($(o).data("checked") === "1" || $(o).data("checked") === 1){
               $(o).prop("checked", true)
           }
       });
    });
</script>
