<input type="hidden" id="blocks_array" value='{Blocks}' />
<input type="hidden" id="offers_events_array" value='{OffersEvents}' />

<!-- Fila de campos -->
<div class="row">

    <div class="col-md-6">

        <!-- Fecha de la reserva -->
        <div class="form-group form-inline {eDateClass}">
            <label class="sr-only">Fecha</label>
            <div id="booking-date-lbl" >
                <span title = "Introduzca una fecha para la reserva"
                      class="glyphicon glyphicon-calendar"></span>
            </div>
            <input type="text" name="Date" readonly="readonly"
                   required="required" placeHolder="Fecha"
                   class="form-control calendar"
                   data-value="{Entity.Date}"/>
            <p class="help-block" id="Date-Error" >&nbsp;{eDate}</p>
        </div>

        <!-- Número de comensales -->
        <div class="form-group {eDinersClass}">
            <div class="input-group">
                <label class="sr-only">Número de comensales</label>
                <div class="input-group-addon"
                     title="Introduzca el número de comensales">
                    <span class="glyphicon glyphicon-cutlery"></span>
                </div>
                <select name="Diners" required="required"
                        placeHolder="Comensales" data-value="{Entity.Diners}"
                        class="form-control">
                    <!--DinersLst-->
                    <option value="{item.Value}">{item.Text}</option>
                    <!--DinersLst-->
                </select>
            </div>
            <p class="help-block"
               id="Diners-Error" >&nbsp;{eDiners}</p>
        </div>

        <!-- Selección del turno -->
        <div class="form-group {eTurnClass}">
            <div class="input-group">
                <label class="sr-only">Hora</label>
                <div class="input-group-addon">
                    <span title="Seleccione un turno"
                          class="glyphicon glyphicon-time"></span>
                </div>
                <select name="Turn" class="form-control"
                        data-value="{Entity.Turn}" required="required">
                    <!--Turns-->
                    <option value="{item.Id}" data-slot="{item.Slot}"
                            data-days="{item.Days}">{item.Start}
                    </option>
                    <!--Turns-->
                </select>
            </div>
            <p class="help-block" id="Turn-Error" >&nbsp;{eTurn}</p>
        </div>

        <!-- Selección del espacio -->
        <div class="form-group {ePlaceClass}">
            <label class="sr-only">Lugar</label>
            <select name="Place" class="form-control"
                    data-value="{Entity.Place}" required="required">
                <!--Places-->
                <option value="{item.Id}" >{item.Name}</option>
                <!--Places-->
            </select>
            <p class="help-block" id="Place-Error" >&nbsp;{ePlace}</p>
        </div>

    </div>

    <div class="col-md-6">

        <!-- Nombre de la reserva -->
        <div class="form-group {eClientNameClass}">
            <div class="input-group">
                <label class="sr-only">
                    Nombre y apellidos</label>
                <div class="input-group-addon" >
                    <span class="glyphicon glyphicon-user"
                          title="Introduzca el nombre al que
                          se realiza la reserva" >
                    </span>
                </div>
                <input type="text" name="ClientName" required="required"
                       value="{Entity.ClientName}" maxlength="100"
                       placeHolder="Nombre y Apellidos" autocomplete="off"
                       class="form-control typeahead" />
            </div>
            <p class="help-block" id="ClientName-Error" >&nbsp;{eClientName}</p>
        </div>

        <!-- e-mail de contacto -->
        <div class="form-group {eEmailClass}">
            <div class="input-group">
                <label class="sr-only">e-mail</label>
                <div class="input-group-addon"
                     title="Introduzca un e-mail de contacto">@
                </div>
                <input type="email" name="Email" value="{Entity.Email}" maxlength="100"
                       class="form-control" placeholder="e-mail de contacto"/>
            </div>
            <p class="help-block"
               id="Email-Error" >&nbsp;{eEmail}</p>
        </div>

        <!-- teléfono de contacto -->
        <div class="form-group {ePhoneClass}">
            <div class="input-group">
                <label class="sr-only">Teléfono</label>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-phone-alt"
                        title="Introduzca un número de contacto"></span>
                </div>
                <input type="text" name="Phone" value="{Entity.Phone}"
                       required="required" class="form-control"
                       maxlength="15"
                       placeHolder="Teléfono de contacto"/>
            </div>
            <p class="help-block" id="Phone-Error" >&nbsp;{ePhone}</p>
        </div>

        <!-- Selección del espacio -->
        <div class="form-group {eOfferClass}">
            <label class="sr-only">Oferta</label>
            <select name="Offer" data-value="{Entity.Offer}"
                    class="form-control" required="required">
            <option value="null" >Sin Oferta</option>
            <!--Offers-->
            <option value="{item.Id}" data-config='{item.Config}'
                    data-start="{item.Start}" data-end="{item.End}">
                {item.Title}</option>
            <!--Offers-->
            </select>
            <p class="help-block" id="Offer-Error" >&nbsp; {eOffer}</p>
        </div>

    </div>

</div>

<!-- Fila de comentarios -->
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Comentarios</label>
            <textarea rows="3" name="Comment"
                      class="form-control">{Entity.Comment}</textarea>
            <p class="help-block">
                Introduzca algún comentario si lo desea.
                P.e: "Necesitamos una trona para bebe"
            </p>
        </div>
    </div>
</div>
