<!--Layout={_layout.html}-->

<input type="hidden" id="anulado" value="{IdAnulado}" />
<input type="hidden" id="fechaReservas" value="{DateNavDTO.Fecha}" />

<div class="container">
    <!-- Selección de fechas para la búsqueda de reservas -->
    <div class="row">
        <div class="col-lg-4">
            <div class="btn-group">
                <a href="{Path}/Booking/Index?d={DateNavDTO.PrevFecha}"
                   class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="{Path}/Booking/Index?d={DateNavDTO.Fecha}"
                   class="btn btn-default">{DateNavDTO.FechaTexto}</a>
                <a href="{Path}/Booking/Index?d={DateNavDTO.PostFecha}"
                   class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- calendario -->
            &nbsp;
            <input type="text" id="datepicker" class="hide-calendar"
                    data-url="{Path}/Booking/Index?d=" />
            <input type="hidden" id="url-img"
                    value="{Resources}/content/images/calendar-ico.png" />
            <!-- calendario -->
        </div>
    </div>

    <!-- creación de nuevas reservas -->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>{DateNavDTO.FechaTexto}</h2>
        </div>
        <div id="control" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h2>
                <button type="button" class="btn btn-primary"
                        onclick="cargarFormulario(this)"
                        data-toggle="modal" data-target="#frmReserva">
                  + Crear Nueva Reserva</button>
            </h2>
        </div>
    </div>

    <!-- Tabla de reservas -->
    <div class="table-responsive">
        <!-- Tabla de reservas -->
        <table class="table table-striped table-resbooking rwd-table">
            <thead>
                <tr>
                    <th class="hide">#</th>
                    <th title="Nombre y apellidos del cliente">
                        Nombre y Apellidos</th>
                    <th title="Teléfono de contacto">
                        Teléfono</th>
                    <th title="Comensales de la reserva">
                        Comensales</th>
                    <th title="Fecha de la reserva" class="hide" >
                        Fecha</span>
                    </th>
                    <th title="Hora de la reserva">Turno</th>
                    <th title="Comentarios del cliente">Comentarios</th>
                    <th title="Oferta seleccionada por el cliente">Oferta</th>
                    <th title="Sala en la que se ha reservado">Zona</th>
                    <th title="Información de la mesa">Mesa</th>
                    <th title="Estado actual de la reserva">Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--Entities-->
                <tr data-state="{item.State}" data-zapper="{item.ZapperState}">
                    <td class="hide">{item.Id}</td>
                    <td data-th="Nombre y Apellidos" title="{item.ClientName}">
                        <a href="#" class="link-ficha" data-id="{item.Client}"
                           onclick="abrirFicha(this);">{item.sClientName}</a>
                        <span class="bullet" data-count="{item.ClientCount}"
                              title="Número de veces que nos ha visitado">
                            {item.ClientCount}</span>
                        <span class="glyphicon glyphicon-comment comments"
                              data-id="{item.Client}"
                              data-toggle="tooltip"
                              data-placement="right"
                              data-comments="{item.ClientComments}"
                              title="{item.ClientComments}" ></span>
                    </td>
                    <td data-th="Teléfono">{item.Phone}</td>
                    <td data-th="Comensales">
                        <input type="number" class="form-control diners"
                               title="Comensales de la reserva"
                               data-id="{item.Id}" max="{MaxDiners}" min="{MinDiners}"
                               value="{item.Diners}" onchange="actualizarComensales(this);" />
                    </td>
                    <td data-th="Fecha" class="hide">{item.Date}</td>
                    <td data-th="Turno">{item.TurnStart}</td>
                    <td data-th="Comentarios" title="{item.Comment}" >{item.sComment}</td>
                    <td data-th="Oferta" title="{item.OfferTitle}">{item.sOfferTitle}</td>
                    <td data-th="Zona" title="{item.PlaceName}">{item.sPlaceName}</td>
                    <td data-th="Mesa" >
                        <input type="text" class="form-control mesa"
                               title="Información de la mesa"
                               data-id="{item.Id}" maxlength="5"
                               value="{item.sTable}" onchange="actualizarInfoTabla(this)" />
                    </td>
                    <td data-th="Estado">
                        <select data-id="{item.Id}" data-value="{item.State}"
                                onchange="onChangeEstado(this)" id="estado_{item.Id}"
                                class="form-control state-select">
                            <!--States-->
                            <option value="{item.Id}">{item.Name}</option>
                            <!--States-->
                        </select>
                    </td>
                    <td class="controles">
                        <!-- Lanzar recordatorio -->
                        <a href="#" class="control-accion hide" data-id="{item.Id}"
                           data-toggle="modal" data-target="#frmRecordatorio"
                           data-to="{item.ClientName}"
                           title="Enviar un recordatorio de la reserva"
                           onclick="abrirRecordatorio(this);">
                            <span class="glyphicon glyphicon-time"></span>
                        </a>
                        <!-- Lanzar e-mail -->
                        <a href="#" class="control-accion comunicaciones hide" data-email="{item.Email}"
                           data-nombre="{item.ClientName}"
                           data-toggle="modal" data-target="#frmEmail"
                           title="Enviar una comunicación sobre la reserva"
                           onclick="abrirEmail(this);">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                        <!-- Agregar anotación -->
                        <a href="#" id="notas_{item.Id}" class="control-accion"
                           data-id="{item.Id}" data-notes="{item.Notes}"
                           data-toggle="modal" data-target="#frmNotas"
                           title="Agregar anotaciones manuales sobre la reserva"
                           onclick="abrirNotas(this);">
                            <span class="glyphicon glyphicon-tag"></span>
                        </a>

                        <!-- información de prepedido -->
                        <a href="#" class="control-accion"
                           data-preorder="{item.PreOrder}"
                           data-toggle="modal" data-target="#pedido"
                           title="Información sobre el pre-pedido"
                           onclick="abrirPrePedido(this);">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                        </a>

                        <!-- información pago zapper -->
                        <span data-zapper="{item.ZapperState}"
                              class="glyphicon glyphicon-usd zapper-btn"></span>

                    </td>
                </tr>
                <!--Entities-->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" data-th="Resultados: ">
                        <span id="rowCount">{NTotal}</span>
                        reservas encontradas para el {DateNavDTO.FechaPie}
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- resultado de operacion -->
        <div id="resultado"></div>
    </div>
</div>

<!-- Alert de operación -->
<div id="alert" class="alert alert-dismissible hide" role="alert">
    <button type="button" class="close" data-dismiss="alert"
            aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <p></p>
</div>

<!-- Ventana registro manual de reservas -->
<div class="modal fade" tabindex="-1" id="frmReservas"
     role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <form action="{Path}/BookForm/Save" method="post" id="frmBooking"
              onsubmit="enviarReserva(this);">
            <div class="modal-content">

                <div class="modal-header  titulo-modal-dialog-rb">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Cerrar</span>
                    </button>
                    <h4 class="modal-title">Nueva Reserva</h4>
                </div>

                <div id="modal-body" class="modal-body"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Ventana modal ficha cliente -->
<div class="modal fade" tabindex="-1" role="dialog" id="frmFicha"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-sm2">
        <div class="modal-content">

            <div class="modal-header titulo-modal-dialog-rb">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Ficha Cliente</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <img id="avatar" src="{Resources}/content/images/foto-perfil.jpg"/>
                    <div id="cabecera-cliente">
                        <h4 id="nombre-cliente"></h4>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="cliente-vip" data-id="0"
                                       onchange="actualizarVip(this)"/>
                                Cliente Vip</label>
                        </div>
                    </div>
                </div>

                <hr />

                <ul class="ul-datos-cliente">
                    <li>
                        <strong>Teléfono:</strong>
                        <span id="telefono-cliente"></span>
                    </li>
                    <li>
                        <strong>Email:</strong>
                        <span id="email-cliente"></span>
                    </li>
                    <li>
                        <strong>Número de veces que nos ha visitado: </strong>
                        <span id="visitas-cliente"></span>
                        &nbsp;<span id="ultima-fecha"></span>
                    </li>
                </ul>

                <label>Historial de reservas</label>
                <div id="historial-visitas" class="form-group">
                <fieldset>

                    <ul id="historial">

                    </ul>
                </fieldset>
                </div>

                <br />

                <fieldset>
                    <label>Anotaciones</label>
                    <textarea id="comentarios-cliente"
                              class="form-control" rows="4"></textarea>
                </fieldset>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary"
                        onclick="actualizarComentarios(this)">Guardar</button>
            </div>

        </div>
    </div>
</div>

<!-- Ventana modal anulación de reserva -->
<div class="modal fade" tabindex="-1" role="dialog" id="aviso"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header titulo-modal-dialog-rb">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title">Anulación de reserva</h4>
            </div>
            <div class="modal-body">
                <h4>¿Está seguro que desea anular la reserva?</h4>
                <p class="help-block">
                    Al anular la reserva el cliente recibirá una notificación
                    de Anulación de la reserva. Este proceso es irreversible.
                </p>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"
                  onclick="setSelectedItem();">Cancelar</button>
          <button id="btnAnulacion" type="button" class="btn btn-danger"
                  onclick="actualizarEstado(this,true);">SI, anular la reserva</button>
        </div>
      </div>
    </div>
</div>

<!-- Ventana modal recordatorio -->
<div class="modal fade " tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" id="frmRecordatorio">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header titulo-modal-dialog-rb">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title">Enviar Recordatorio</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="recordatorio_id" value="0" />
                <p class="help-block text-justify">
                    ¿Enviar un recordatorio a <span id="recordatorio_to"></span> ?
                    <br/><br/>
                    Recuerde que el abuso en el envío de notificaciones puede
                    ser molesto para su cliente y por tanto perjudicial para
                    su negocio.
                </p>

            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                  data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger"
                    onclick="enviarRecordatorio(this)">
                Sí, deseo enviarlo</button>
        </div>
      </div>
    </div>
</div>

<!-- Ventana modal email cliente -->
<div class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" id="frmEmail">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header titulo-modal-dialog-rb">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Enviar mensaje de la reserva</h4>
            </div>
            <div class="modal-body">
                <h3>
                    <span class="glyphicon glyphicon-envelope"></span>
                    ENVIAR MENSAJE</h3>
                <hr />
                <p>
                    <strong>PARA:</strong>
                    <span id="nombre-msg-cliente"></span>
                    (<span id="email-msg-cliente"></span>)
                </p>
                <p>
                    <strong>ASUNTO:</strong><br />
                    Sobre su reserva del
                    {DateNavDTO.FechaTexto}
                </p>
                <div class="form-group">
                    <input type="hidden" id="message_to" value=""/>
                    <label>Mensaje</label>
                    <textarea id="message" rows="4" class="form-control"></textarea>
                    <p class="help-block">
                        Introduzca el contenido del mensaje que desea enviar.
                    </p>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary"
                    onclick="enviarMensaje(this)">Enviar</button>
        </div>
      </div>
    </div>
</div>

<!-- Ventana modal notas reserva -->
<div class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" id="frmNotas">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header titulo-modal-dialog-rb">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title">Anotaciones de la reserva</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Anotaciones</label>
                    <input type="hidden" id="notas_id" value="0" />
                    <textarea id="notas" rows="4" class="form-control"></textarea>
                    <p class="help-block">
                        Introduzca la información que estime relevante.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="actualizarNotas(this)"
                        class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Ventana modal Prepedido -->
<div class="modal fade" tabindex="-1" role="dialog" id="pedido"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header titulo-modal-dialog-rb">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title">Pedido anticipado</h4>
            </div>
            <div class="modal-body">
                <p id="pedido-texto" class="help-block"></p>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript" src="{Resources}/js/libs/bootstrap3-typeahead.js?r={Random}"></script>
<script type="text/javascript" src="{Resources}/js/bookings.js?r={Random}" ></script>
<script type="text/javascript" src="{Resources}/js/form.common.js?r={Random}" ></script>
