<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Anular Reserva</title>
        <!-- CSS de Bootstrap -->
        <link href="{Resources}/content/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
        <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{Resources}/scripts/js-plugins/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{Resources}/scripts/js-plugins/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
                    <p style="padding: 10px; background-color: #000; color: #fff; font-size: 20px; font-weight:600">
                        {ProjectName}
                    </p>
                    <h4 class="text-center" style="color:#df0202">
                        No es posible Anular la reserva.</h4>
                    <p class="text-center">
                        La fecha de la Reserva ha pasado.<br />
                    </p>
                    <p class="help-block">
                        El Restaurante gestionará intérnamente su anulación.
                        Muchas gracias y deseamos pueda visitarnos en un futuro.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
