services:
  apache:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
    - 80:80
    - 443:443
    volumes:
    - .:/var/www/html
    - ./deployment/ssl:/etc/apache2/ssl:ro
    env_file:
    - .env
