<!--Layout={_layout.html}-->

<script type="text/javascript" src="{Resources}/scripts/js-core/jquery.projects.js"></script>

<div class="container">

	<h2>Proyectos</h2>

	<div class="table-responsive">
		<table class="table table-striped table-bordered rwd-table" >
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Ruta</th>
					<th>Fecha</th>
					<th>
						<a class="btn btn-primary btn-xs"
							 data-toggle="modal"
								data-target="#modalProject"
								onclick="clearProjectData();"
							 title="Crear nuevo Proyecto" >Nuevo</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<!--Entities-->
				<tr class="rowdata visible-row">
					<td data-th="#" >{item.Id}</td>
					<td data-th="Nombre" title="{item.TitleName}">{item.Name}</td>
					<td data-th="Descripción" title="{item.Title}" >{item.Description}</td>
					<td data-th="Ruta">/{item.Path}</td>
					<td data-th="Fecha">{item.Date}</td>
					<td data-th="">
						<a class="btn btn-primary btn-xs"
							data-id="{item.Id}"
							data-name="{item.TitleName}"
							data-desc="{item.Title}"
							data-path="{item.Path}"
							data-date="{item.Date}"
							data-toggle="modal"
							data-target="#modalProject"
							onclick="setProjectData(this);"
							title="Editar" >
							<span class="glyphicon glyphicon-pencil"></span>
						</a>

						<a href="{Path}/Project/Users/{item.Id}"
							class="btn btn-primary btn-xs"
							title="Usuarios" >
							<span class="glyphicon glyphicon-user"></span>
						</a>

						<a href="{Path}/Project/Services/{item.Id}"
							class="btn btn-primary btn-xs"
							title="Servicios" >
							<span class="glyphicon glyphicon-list-alt"></span>
						</a>

						<a class="btn btn-danger btn-xs"
								title="Eliminar"
								data-toggle="modal"
								data-target="#modal"
								data-title="Eliminar"
								data-msg="¿Desea eliminar el proyecto?"
								data-id="{item.Id}"
								data-selector="#btnDelete"
								data-url="{Path}/Project/Delete/"
								onclick="setDataModal(this);" >
							<span class="glyphicon glyphicon-remove" ></span>
						</a>
					</td>
				</tr>
				<!--Entities-->
			</tbody>
		</table>
	</div>
</div>

<!-- ventana modal para eliminar-->
<div id="modalProject" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
				</button>
				<h4 class="modal-title">Proyecto</h4>
			</div>

			<!-- Formulario -->
			<form id="frmProject"
				action="{Path}/Project/Save"
				data-success="{Path}/Project/GetProjects"
				method="post"
				role="form"
				onsubmit="saveProject(this);" >

				<div class="modal-body">

					<input type="hidden" name="Id" value="0" />

					<div class="form-group {eNameClass}">
						<label>Nombre</label>
						<input type="text"
							name="Name"
							class="form-control"
							maxlenght="50"
							required="required"
							placeHolder="Mi Proyecto" />
						<p id="eName" class="help-block" data-msg="Defina un nombre para el proyecto. " >
							Defina un nombre para el proyecto. {eName}
						</p>
					</div>

					<div class="form-group {eDescClass}">
						<label>Descripción</label>
						<textarea name="Description"
							rows="3"
							maxlenght="500"
							required="required"
							class="form-control"
							placeHolder="Descripción funcional breve sobre el proyecto"></textarea>
						<p id="eDesc" class="help-block" data-msg="Introduzca una descripción sobre el proyecto. " >
							Introduzca una descripción sobre el proyecto. {eDesc}
						</p>
					</div>

					<div class="form-group {ePathClass}">
						<label>Ruta</label>
						<input type="text"
							name="Path"
							class="form-control"
							maxlenght="500"
							required="required"
							placeHolder="Ruta de acceso al proyecto" />
						<p id="ePath" class="help-block"
							data-msg="Indique el nombre del directorio que se va a crear para alojar los datos de proyecto. " >
							Indique el nombre del directorio que se va a crear para alojar los datos de proyecto. {ePath}
						</p>
					</div>

					<div class="form-group {eDateClass}">
						<label>Fecha de registro</label>
						<input type="date"
							name="Date"
							class="form-control"
							required="required" />
						<p id="eDate" class="help-block" data-msg="Seleccione la fecha de inicio o alta. " >
							Seleccione la fecha de inicio o alta. {eDate}
						</p>
					</div>
					<div class="form-group {eResultClass}">
						<p id="eResult" class="help-block" data-msg=" " >{eResult}</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button"
						class="btn btn-default"
						data-dismiss="modal" >Cancelar</button>
					<button type="submit"
						class="btn btn-primary"
						onclick="javacript:void(0);" >Guardar</button>
				</div>
			</form>
			<!-- Formulario fin -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
