<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Recurso no encontrado</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" href="{Resources}/content/images/resb-ico.png" type="image/png" />
        <link href="{Resources}/content/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
        <link href="{Resources}/content/css/resbooking-theme.css" rel="stylesheet" />
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{Resources}/scripts/js-plugins/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{Resources}/scripts/js-plugins/jquery-ui-1.10.3.min.js"></script>
        <script type="text/javascript" src="{Resources}/scripts/js-plugins/bootstrap.min.js" ></script>
    </head>

    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a id="logo" class="navbar-brand" href="{Path}/">
                            <img src="{Resources}/content/images/logo-resBooking.png" alt="resbooking"/>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="jumbotron">
                    <h2>Se ha producido un error interno.</h2>
                    <p>
                        Contacte con el administrador para resolver el problema.
                        Gracias por su comprensión.
                    </p>
                    <a href="{Path}/Home" class="btn btn-primary"
                       title="Ir al inicio de la aplicación">ir Inicio</a>
                </div>
            </div>
        </div>

        <div id="footer">
            <p>
                <a href="{Path}/Home/Privacity">Terminos y condiciones del servicio</a>
            </p>
        </div>

    </body>
</html>
