<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{Title}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" href="{Resources}/content/images/resb-ico.png" type="image/png" />
        <link href="{Resources}/content/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/rb-panel-theme.css" rel="stylesheet" />
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{Resources}/js/libs/jquery.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/bootstrap.min.js" ></script>
        <script type="text/javascript" src="{Resources}/js/common.js"></script>
    </head>

    <body>
        <input type="hidden" id="current_path" value="{Path}" />
        <input type="hidden" id="current_resources_path" value="{Resources}" />

        <div id="wrap-iframe">
            {BODY}
        </div>

        <div id="footer-iframe"></div>
    </body>
</html>
