<!--Layout={_layout.html}-->
<div class="container">

	<ul class="nav nav-tabs" id="myTab">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		    Recursos<span class="caret"></span>
		  </a>
			<ul class="dropdown-menu">
				<li class="active"><a href="#tabs-0">Guardar</a></li>
				<li><a href="#tabs-1">Imágenes</a></li>
				<li><a href="#tabs-2">CSS</a></li>
				<li><a href="#tabs-3">Scripts</a></li>
				<li><a href="#tabs-10">Ayuda</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		    Plantillas <span class="caret"></span>
		  </a>
			<ul class="dropdown-menu">
				<li><a href="#tabs-9" title="Plantillas para layouts" >Guardar</a></li>
				<li><a href="#tabs-4" title="Plantillas para layouts" >Layouts</a></li>
				<li><a href="#tabs-5" title="Plantillas para secciones" >Secciones</a></li>
				<li><a href="#tabs-6" title="Plantillas para contenidos" >Contenido</a></li>
				<li><a href="#tabs-7" title="Plantillas para noticias" >Noticias</a></li>
				<li><a href="#tabs-8" title="Plantillas para galerías" >Galería</a></li>
			</ul>
		</li>
	</ul>

	<div class="tab-content">

		<div id="tabs-10" class="tab-pane active panel">
			<h3>Recursos y plantillas</h3>

			<h4>¿Que es un recurso?</h4>
			<p>
Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores.
			</p>

			<p>
Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores.
			</p>

			<h4>¿Que es una plantilla?</h4>
			<p>
Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores.
			</p>


			<p>
Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores.
			</p>
		</div>

		<div id="tabs-0" class="tab-pane panel">
			<div class="row">
				<div class="col-lg-5">
					<form action="{Path}/Resources/Save"
						method="post"
						enctype="multipart/form-data"
						role="form" >
						<fieldset>
							<legend>Ficheros</legend>
							<div class="form-group">
								<label class="radio-inline" >
									<input type="radio" name="Entity" value="Image" checked="checked"/>Imagen</label>
								<label class="radio-inline" >
									<input type="radio" name="Entity" value="StyleSheet" />StyleSheet (css) </label>
								<label class="radio-inline" >
									<input type="radio" name="Entity" value="JavaScript" />Script (javascript)</label>
								<p class="help-block">Selecciona el tipo de fichero a subir</p>
							</div>

							<div class="form-group">
								<label>Fichero</label>
								<input type="file"
									class="form-control"
									name="file"
									required="required" />
								<p class="help-block">Selecciona el fichero</p>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-default">Subir</button>
							</div>

						</fieldset>
					</form>
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end tab -->

		<!-- Lista de Imágenes -->
		<div id="tabs-1" class="tab-pane panel">
			<h4 class="resource-title">Imágenes</h4>
			<!--Images-->
			<div class="row">
				<div class="col-lg-6">
					<form action="{Path}/Resources/Rename"
						class="navbar-form navbar-left"
						method="post"
						role="form">
						<div class="form-group">
							<input type="hidden" name="Entity" value="Image" />
							<input type="hidden" name="File" value="{item.Name}" />
							<input type="text"
								name="NewName"
								required="required"
								maxlength="25"
								class="form-control"
								title="Introduce el nuevo nombre"
								placeholder="{item.Name}" />
						</div>

						<button type="submit"
							class="btn btn-default btn-sm"
							role="button">Renombrar</button>

						<button type="submit"
							class="btn btn-default btn-sm"
							formaction="{Path}/Resources/Delete"
							formmethod="post"
							formnovalidate
							role="button">Eliminar</button>

						<a href="{Path}/Resources/Download?Entity=Image&File={item.Name}"
							target="_blanck"
							title="Descargar fichero"
							class="btn btn-primary btn-sm"
							role="button" >Descargar</a>

					</form><!-- end form -->
				</div><!-- end col -->
			</div><!-- end row -->
			<!--Images-->
		</div><!-- end tab -->

		<!-- Lista de StyleSheets -->
		<div id="tabs-2" class="tab-pane panel">
			<h4 class="resource-title">Hojas de estilo</h4>
			<!--StyleSheets-->
			<div class="row">
				<div class="col-lg-6">
					<form action="{Path}/Resources/Rename"
						class="navbar-form navbar-left"
						method="post"
						role="form">
						<div class="form-group">
							<input type="hidden" name="Entity" value="StyleSheet" />
							<input type="hidden" name="File" value="{item.Name}" />
							<input type="text"
								name="NewName"
								required="required"
								maxlength="25"
								class="form-control"
								title="Introduce el nuevo nombre"
								placeholder="{item.Name}" />
						</div>

						<button type="submit"
							class="btn btn-default btn-sm"
							role="button">Renombrar</button>

						<button type="submit"
							class="btn btn-default btn-sm"
							formaction="{Path}/Resources/Delete"
							formmethod="post"
							formnovalidate
							role="button">Eliminar</button>

						<a href="{Path}/Resources/Download?Entity=StyleSheet&File={item.Name}"
							target="_blanck"
							title="Descargar fichero"
							class="btn btn-primary btn-sm"
							role="button" >Descargar</a>

					</form><!-- end form -->
				</div><!-- end col -->
			</div><!-- end row -->
			<!--StyleSheets-->
		</div><!-- end tab -->

		<!-- Lista de Scripts -->
		<div id="tabs-3" class="tab-pane panel">
			<h4 class="resource-title">Scripts</h4>
			<!--Scripts-->
			<div class="row">
				<div class="col-lg-6">
					<form action="{Path}/Resources/Rename"
						class="navbar-form navbar-left"
						method="post"
						role="form">
						<div class="form-group">
							<input type="hidden" name="Entity" value="JavaScript" />
							<input type="hidden" name="File" value="{item.Name}" />
							<input type="text"
								name="NewName"
								required="required"
								maxlength="25"
								class="form-control"
								title="Introduce el nuevo nombre"
								placeholder="{item.Name}" />
						</div>

						<button type="submit"
							class="btn btn-default btn-sm"
							role="button">Renombrar</button>

						<button type="submit"
							class="btn btn-default btn-sm"
							formaction="{Path}/Resources/Delete"
							formmethod="post"
							formnovalidate
							role="button">Eliminar</button>

						<a href="{Path}/Resources/Download?Entity=JavaScript&File={item.Name}"
							target="_blanck"
							title="Descargar fichero"
							class="btn btn-primary btn-sm"
							role="button" >Descargar</a>

					</form><!-- end form -->
				</div><!-- end col -->
			</div><!-- end row -->
			<!--Scripts-->
		</div><!-- end tab -->

		<!-- Lista de plantillas Layout -->
		<div id="tabs-4" class="tab-pane panel">
			<h4 class="resource-title">Plantillas Layouts</h4>
			<!--Layouts-->
			<div class="row">
				<div class="col-lg-6">
					<form action="{Path}/Resources/Rename"
						class="navbar-form navbar-left"
						method="post"
						role="form">
						<div class="form-group">
							<input type="hidden" name="Entity" value="Layout" />
							<input type="hidden" name="File" value="{item.Name}" />
							<input type="text"
								name="NewName"
								required="required"
								maxlength="25"
								class="form-control"
								title="Introduce el nuevo nombre"
								placeholder="{item.Name}" />
						</div>

						<button type="submit"
							class="btn btn-default btn-sm"
							role="button">Renombrar</button>

						<button type="submit"
							class="btn btn-default btn-sm"
							formaction="{Path}/Resources/Delete"
							formmethod="post"
							formnovalidate
							role="button">Eliminar</button>

						<a href="{Path}/Resources/Download?Entity=Layout&File={item.Name}"
							target="_blanck"
							title="Descargar fichero"
							class="btn btn-primary btn-sm"
							role="button" >Descargar</a>

					</form><!-- end form -->
				</div><!-- end col -->
			</div><!-- end row -->
			<!--Layouts-->
		</div><!-- end tab -->

		<!-- Lista de plantillas Section -->
		<div id="tabs-5" class="tab-pane panel">
			<h4 class="resource-title">Plantillas Secciones</h4>
			<!--SectionTemplates-->
			<div class="row">
				<div class="col-lg-6">
					<form action="{Path}/Resources/Rename"
						class="navbar-form navbar-left"
						method="post"
						role="form">
						<div class="form-group">
							<input type="hidden" name="Entity" value="Section" />
							<input type="hidden" name="File" value="{item.Name}" />
							<input type="text"
								name="NewName"
								required="required"
								maxlength="25"
								class="form-control"
								title="Introduce el nuevo nombre"
								placeholder="{item.Name}" />
						</div>

						<button type="submit"
							class="btn btn-default btn-sm"
							role="button">Renombrar</button>

						<button type="submit"
							class="btn btn-default btn-sm"
							formaction="{Path}/Resources/Delete"
							formmethod="post"
							formnovalidate
							role="button">Eliminar</button>

						<a href="{Path}/Resources/Download?Entity=Section&File={item.Name}"
							target="_blanck"
							title="Descargar fichero"
							class="btn btn-primary btn-sm"
							role="button" >Descargar</a>

					</form><!-- end form -->
				</div><!-- end col -->
			</div><!-- end row -->
			<!--SectionTemplates-->
		</div><!-- end tab -->

		<!-- Lista de plantillas Content -->
		<div id="tabs-6" class="tab-pane panel">
			<h4 class="resource-title">Plantillas Contenido</h4>
			<!--ContentTemplates-->
			<div class="row">
				<div class="col-lg-6">
					<form action="{Path}/Resources/Rename"
						class="navbar-form navbar-left"
						method="post"
						role="form">
						<div class="form-group">
							<input type="hidden" name="Entity" value="Content" />
							<input type="hidden" name="File" value="{item.Name}" />
							<input type="text"
								name="NewName"
								required="required"
								maxlength="25"
								class="form-control"
								title="Introduce el nuevo nombre"
								placeholder="{item.Name}" />
						</div>

						<button type="submit"
							class="btn btn-default btn-sm"
							role="button">Renombrar</button>

						<button type="submit"
							class="btn btn-default btn-sm"
							formaction="{Path}/Resources/Delete"
							formmethod="post"
							formnovalidate
							role="button">Eliminar</button>

						<a href="{Path}/Resources/Download?Entity=Content&File={item.Name}"
							target="_blanck"
							title="Descargar fichero"
							class="btn btn-primary btn-sm"
							role="button" >Descargar</a>

					</form><!-- end form -->
				</div><!-- end col -->
			</div><!-- end row -->
			<!--ContentTemplates-->
		</div><!-- end tab -->

		<!-- Lista de plantillas News -->
		<div id="tabs-7" class="tab-pane panel">
			<h4 class="resource-title">Plantillas Noticias</h4>
			<!--NewsTemplates-->
			<div class="row">
				<div class="col-lg-6">
					<form action="{Path}/Resources/Rename"
						class="navbar-form navbar-left"
						method="post"
						role="form">
						<div class="form-group">
							<input type="hidden" name="Entity" value="News" />
							<input type="hidden" name="File" value="{item.Name}" />
							<input type="text"
								name="NewName"
								required="required"
								maxlength="25"
								class="form-control"
								title="Introduce el nuevo nombre"
								placeholder="{item.Name}" />
						</div>

						<button type="submit"
							class="btn btn-default btn-sm"
							role="button">Renombrar</button>

						<button type="submit"
							class="btn btn-default btn-sm"
							formaction="{Path}/Resources/Delete"
							formmethod="post"
							formnovalidate
							role="button">Eliminar</button>

						<a href="{Path}/Resources/Download?Entity=News&File={item.Name}"
							target="_blanck"
							title="Descargar fichero"
							class="btn btn-primary btn-sm"
							role="button" >Descargar</a>
					</form><!-- end form -->
				</div><!-- end col -->
			</div><!-- end row -->
			<!--NewsTemplates-->
		</div><!-- end tab -->

		<!-- Lista de plantillas Gallery -->
		<div id="tabs-8" class="tab-pane panel">
			<h4 class="resource-title">Plantillas Galería</h4>
			<!--GalleryTemplates-->
			<div class="row">
				<div class="col-lg-6">
					<form action="{Path}/Resources/Rename"
						class="navbar-form navbar-left"
						method="post"
						role="form">
						<div class="form-group">
							<input type="hidden" name="Entity" value="Gallery" />
							<input type="hidden" name="File" value="{item.Name}" />
							<input type="text"
								name="NewName"
								required="required"
								maxlength="25"
								class="form-control"
								title="Introduce el nuevo nombre"
								placeholder="{item.Name}" />
						</div>

						<button type="submit"
							class="btn btn-default btn-sm"
							role="button">Renombrar</button>

						<button type="submit"
							class="btn btn-default btn-sm"
							formaction="{Path}/Resources/Delete"
							formmethod="post"
							formnovalidate
							role="button">Eliminar</button>

						<a href="{Path}/Resources/Download?Entity=Gallery&File={item.Name}"
							target="_blanck"
							title="Descargar fichero"
							class="btn btn-primary btn-sm"
							role="button" >Descargar</a>
					</form><!-- end form -->
				</div><!-- end col -->
			</div><!-- end row -->
			<!--GalleryTemplates-->
		</div><!-- end tab -->

		<div id="tabs-9" class="tab-pane panel">
			<div class="row">
				<div class="col-lg-5">
					<form action="{Path}/Resources/Save"
						method="post"
						enctype="multipart/form-data"
						role="form" >
						<fieldset>
							<legend>Plantillas</legend>
							<div class="form-group">
								<label class="radio-inline" >
									<input type="radio" name="Entity" value="Layout" />Layout</label>
								<label class="radio-inline" >
									<input type="radio" name="Entity" value="Section" />Section</label>
								<label class="radio-inline" >
									<input type="radio" name="Entity" value="News" />News</label>
								<label class="radio-inline" >
									<input type="radio" name="Entity" value="Content" />Content</label>
								<label class="radio-inline" >
									<input type="radio" name="Entity" value="Gallery" />Gallery</label>
								<p class="help-block">Selecciona el tipo de plantilla (html)</p>
							</div>

							<div class="form-group">
								<label>Fichero</label>
								<input type="file" name="file" class="form-control" required="required" />
								<p class="help-block">Selecciona el fichero</p>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-default" >Subir</button>
							</div>
						</fieldset>
					</form>
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end tab -->
	</div><!-- end tab content -->
</div><!-- end container -->

<script type="text/javascript" src="{Resources}/scripts/js-lcms/jquery.resources.js "></script>
