<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Resbooking</title>

        <link href="{Resources}/content/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="{Resources}/content/css/jquery-ui-1.8.4.custom.css" />
        <link rel="stylesheet" href="{Resources}/content/css/resbooking-form.css?r={Random}" />
        <!--[if lt IE 9]>
          <script type="text/javascript" src="{Resources}/js/libs/html5shiv.js"></script>
          <script type="text/javascript" src="{Resources}/js/libs/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{Resources}/js/libs/jquery.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/datepicker-es.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/bootstrap.min.js"></script>

        <script type="text/javascript" >
            $(function(){

                if($("#advertising").val() === "1"){
                    $("#publi").removeClass("hide");
                }
                else{
                    $("#publi").addClass("hide");
                }
            });
        </script>

    </head>

    <body>
        <div id="main">

            <input type="hidden" id="advertising" value="{Advertising}" />

            <form role="form">
                <div class="rb-module visible" data-step="1" data-validate="" data-callback="">
                    <div id="wrap" style="min-height:450px; margin: 0; padding: 0 0 15px;">
                        <div class="rb-module-header">
                            <h3>Finalizado</h3>
                        </div>
                        <div class="rb-module-form" style="margin-bottom: 15px;">
                            <div id="result-end"  class="form-group {eResultClass}" style="display: block; height: 85px;">
                                <div class="text-center" style="float:left;width:100px">
                                    <img src="{Resources}/content/images/rb-tick-ok.png" alt="OK" />
                                </div>

                                <div style="float:left;width:65%">
                                    <h4 class="help-block text-center" id="Result" >
                                        Su reserva ha sido confirmada.</h4>
                                    <p class="help-block text-center" >
                                        Gracias por confiar en nosotros</p>
                                </div>
                            </div>
                                <div class="form-group" style="clear:both; border:1px solid #fdd361; padding: 5px; font-size: 12px; margin-bottom: 8px;">
                                    <p class="help-block text-justify">
                                        Queremos darte las gracias por reservar a
                                        través de nuestra Web. De esta forma usted
                                        está contribuyendo a que nuestro Restaurante
                                        no dependa de intermediarios para seguir
                                        vendiendo nuestro producto y poder atenderle
                                        como siempre hemos venido haciendo, con
                                        ilusión y profesionalidad. Gracias
                                    </p>
                            </div>

                            <div class="form-group">
                                <p class="help-block text-center">
                                    Pulse <a href="{Path}/Book/Index/{Project}">
                                        aquí</a> si quiere realizar una nueva reserva
                                </p>
                            </div>
                        </div>
                        <input type="hidden" name="project" value="{Project}" />

                        <!-- BEGIN Publi -->
<div id="publi" class="hide" style="background-color: #f5f5f5; width:100%">
		<p class="text-center" style="color:#9d9d9d; margin:0;">-. P U B L I
C I D A D .-</p>
		<div style="width: 90%; margin: auto; border: 1px solid #000000;
background-color:#ffffff;">
				<div style="padding: 5px;">
						<div style="padding-top: 2px; text-align: center;">
								<a href="http://www.pecadocarnal.es">
										<img id="logo"
src="http://www.pecadocarnal.es/images/mailing/banner-sorteo-camisetas.jpg"
alt="Pecado Carnal" style="/*max-width: 425px;*/" class="img-responsive"/>
								</a>
						</div>
						<p style='text-align:justify; color:#888888; font-size:12px'>
								Sólo por reservar online en nuestra WEB ya estás participando.
<strong>Puedes llevarte camisetas para todos</strong>
								y ser el premiado del mes. ¡PECAR ESTÁ DE MODA! Descubre
nuestros modelos <a href="http://www.pecadocarnal.es/tienda.html"
target="_blank">aquí</a>.
						</p>
				</div>
		</div>
</div>
<!-- END Publi -->



                    </div>

                    <div id="footer" class="rb-module-footer" style="clear:both; height: 5px;">

                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
