/*************************************/

.social-link{
background-position:center center;
background-repeat: no-repeat;
padding:25px;
width:50px;
display:inline-block;
cursor:pointer;
}

.fb-link{
background-image:url(../images/social/facebook.png);
background-color:#08298A;
}

.fb-link:hover{
background-color:#013ADF;
}

.google-link{
background-image:url(../images/social/google.png);
background-color:#DF0101;
}

.google-link:hover{
background-color:#FF0000;
}

.twitter-link{
background-image:url(../images/social/twitter.png);
background-color:#2E9AFE;
}

.twitter-link:hover{
background-color:#2ECCFA;
}
