<?xml version="1.0"?>
<application>

    <settings>
        <add key="configFile" value="config.xml" />
        <add key="path" value="/resbooking/services/booking/Global.php?url=" />
        <add key="resources" value="/resbooking/services/booking" />
        <add key="connectionString" value="conStr-local" />
        <!-- ID's Estados bbdd -->
        <add key="reservado" value="1" />
        <add key="anulado" value="6" />
        <!-- ID's Estados bbdd -->
        <!-- Gestión de notificaciones -->
        <add key="mailTo" value="inet@try-catch.es" />
        <add key="mailSubject" value="reserva-resbooking" />
        <add key="mailCancel" value="cancelar-resbooking" />
        <add key="mailFrom" value="des.booking@try-catch.es" />
    </settings>

    <passwordfactory>
        <alphabet value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890" />
        <minlength value="8" />
        <maxlength value="20" />
        <default value="12" />
    </passwordfactory>

    <connectionStrings>

        <connectionString
            name="conStr-local"
            server="localhost"
            user="root"
            password="BZX55C4v5"
            scheme="db500249808"
            filename="database.xml" />

    </connectionStrings>

    <references>
    </references>

    <interfaces>
        <interface name="IHttpModule" mapTo="SaasHttpModule" src=" " />
        <interface name="IHttpHandler" mapTo="HttpHandler" src=" " />
        <interface name="ISecurity" mapTo="SaasSecurity" src=" " />
        <interface name="INotificator" mapTo="MailNotificator" src=" " />
        <interface name="ILogManager" mapTo="LogManager" src=" " />
        <interface name="IDataAccessObject" mapTo="StmtBaseDAO" src=" " />
        <interface name="IValidatorClient" mapTo="ValidatorClient" src=" " />
    </interfaces>

    <controllers>

        <!-- Controlador Home -->
        <controller name="Home" action="Index" roles=""
                    title="" text="" >
            <actions>
                <action name="Index"
                        roles="Gestor de reservas, Gerente de cuentas" param=""/>
                <action name="SetProject" param=""
                        roles="Gestor de reservas, Gerente de cuentas"
                        visible="false" />
                <action name="About" roles="" param=""/>
                <action name="Privacity" roles="" param=""/>
                <action name="Legal" roles="" param="" />
            </actions>
        </controller>

        <!-- Controlador gestión de cuentas -->
        <controller name="Accounts" action="Logout" text="Logout"
                    roles="Gestor de reservas, Gerente de cuentas"
                    title="Cerrar la sesión actual" visible="false" >
            <actions>
                <action name="Index" roles="" param="" />
                <action name="Recovery" roles="" param="" />
                <action name="ChangePass" param=""
                        roles="Gestor de reservas, Gerente de cuentas" />
                <action name="Change" param=""
                        roles="Gestor de reservas, Gerente de cuentas" />
                <action name="Login" param=""
                        roles="Gestor de reservas, Gerente de cuentas" />
                <action name="Logout" param=""
                        roles="Gestor de reservas, Gerente de cuentas" />
            </actions>
        </controller>

        <!-- Controlador gestión de reservas -->
        <controller name="Book" action="Index" roles="" title=""
                    text="Reserva" visible="false">
            <actions>
                <action name="Index" roles="" param="" />
                <action name="Save" roles="" param="" />
            </actions>
        </controller>

        <!-- Controlador gestión de solicitudes -->
        <controller name="Request" action="Index" text="Pendientes"
                    roles="Gestor de reservas, Gerente de cuentas"
                    title="Gestión de solicitudes" visible="true">
            <actions>
                <action name="Index" param=""
                        roles="Gestor de reservas, Gerente de cuentas"/>
                <action name="GetCount" param=""
                        roles="Gestor de reservas, Gerente de cuentas"/>
                <action name="Accept" param=""
                        roles="Gestor de reservas, Gerente de cuentas"/>
                <action name="Cancel" param=""
                        roles="Gestor de reservas, Gerente de cuentas"/>
            </actions>
        </controller>

        <!-- Controlador gestión de reservas -->
        <controller name="Booking" action="Index" text="Reservas"
                    roles="Gestor de reservas, Gerente de cuentas"
                    title="Gestión de reservas" visible="true">
            <actions>
                <action name="Index" param=""
                        roles="Gestor de reservas, Gerente de cuentas"/>
                <action name="Summary" param=""
                        roles="Gestor de reservas, Gerente de cuentas"/>
                <action name="SetState" param=""
                        roles="Gestor de reservas, Gerente de cuentas"/>
                <action name="SetDiners" param=""
                        roles="Gestor de reservas, Gerente de cuentas"/>

                <action name="Save" param=""
                        roles="Gestor de reservas, Gerente de cuentas" />
                <action name="Cancel" param="" roles="" />
                <action name="SetCancel" param="" roles="" />
            </actions>
        </controller>

        <!-- Controlador de informes -->
        <controller name="Report" action="Index" roles="Gerente de cuentas"
                    title="Gestión de informes" text="Informes"  visible="true">
            <actions>
                <action name="Index" roles="Gerente de cuentas" param="" />
            </actions>
        </controller>

        <!-- Controlador impresión de informes -->
        <controller name="Summary" action="Index" roles="Gerente de cuentas"
                    title="Gestión de detalles" text="Detalles" visible="false">
            <actions>
                <action name="Index" roles="Gerente de cuentas" param="" />
                <action name="Summary" roles="Gerente de cuentas" param="" />
            </actions>
        </controller>

        <!-- Controlador de configuraciones -->
        <controller name="Configuration" action="Index" text="Configuración"
                    roles="Gestor de reservas, Administrador"
                    title="Gestión de configuraciones" visible="true">
            <actions>
                <action name="Index"
                        roles="Administrador" param="" />
                <action name="Places" controller="Configuration" visible="true"
                        title="Configuración de espacios disponibles" text="Salas" param=""
                        roles="Administrador" />
                <action name="SetPlace"
                        roles="Administrador" param="" />
                <action name="RemovePlace"
                        roles="Administrador" param="" />
                <action name="Offers" controller="Configuration" visible="true"
                        text="Ofertas" title="Configuración de ofertas"
                        roles="Administrador" param="" />
                <action name="SetOffer"
                        roles="Administrador" param="" />
                <action name="RemoveOffer"
                        roles="Administrador" param="" />
                <action name="Turns" controller="Configuration" visible="true"
                        text="Configuración de turnos"
                        title="Gestión de los turnos disponibles y su capacidad"
                        roles="Administrador" param="" />
                <action name="SetTurn"
                        roles="Administrador" param="" />
                <action name="Blocks" controller="Configuration" visible="true"
                        text="Bloqueo de Turnos" title="Configuración de los bloqueos de reservas"
                        roles="Gerente de cuentas, Administrador" param="" />
                <action name="SetBlock"
                        roles="Gerente de cuentas, Administrador" param="" />

            </actions>

        </controller>
    </controllers>

</application>
