<!--Layout={_layout.html}-->

<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <h3>Datos de la Solicitud</h3>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Ticket</th>
                    <th>Contacto</th>
                    <th>Teléfono</th>
                    <th>E-mail</th>
                    <th>Fecha entrega</th>
                    <th>Estado</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{Entity.Id}</td>
                    <td>{Entity.Ticket}</td>
                    <td>{Entity.Name}</td>
                    <td>{Entity.Phone}</td>
                    <td>{Entity.Email}</td>
                    <td>{Entity.sDeliveryDate}</td>
                    <td>{Entity.WorkFlow}</td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class="container">
        <p>
            {Entity.sDeliveryMethod}<br />
            Dirección: {Entity.Address}
        </p>
        <p>
            Importe: <strong>{Entity.Amount} €</strong>
            | Descuento: <strong>{DiscountValue} </strong>
            | Total: <strong>{Entity.Total} €</strong>
        </p>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3>Detalles</h3>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Referencia</th>
                    <th>Nombre</th>
                    <th class="hide">Detalles</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <!--Items-->
                <tr>
                    <td>#{item.Reference}</td>
                    <td>{item.Name}</td>
                    <td class="hide">
                        <a target="_blank"
                           href="{Path}/Products/Edit/{item.Product}">Ver</a>
                    </td>
                    <td>{item.Price} €/u</td>
                    <td>{item.Count} uds</td>
                    <td data-info='{item.Data}'></td>
                </tr>
                <!--Items-->
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <a href="{Path}/Requests/Index" class="btn btn-primary">Volver</a>

        <a href="{Path}/Requests/Ticket/{Entity.Id}" target="_blank"
           class="btn btn-default">Imprimir Ticket</a>
    </div>
</div>
