<!--Layout={_layout.html}-->

<style type="text/css">

.thumbnail img{
    max-height: 118px;
}

.form-inline label{
    margin-right:10px;
}

.form-inline .btn{
    margin-left:10px;
}

</style>

<div class="container">

    <!-- Cabecera de página -->
    <div class="page-header">
        <h2>Galería de imágenes</h2>
        <p>
            Referencia: {Product.Reference} | {Product.Name}
            <a href="#" class="btn btn-primary btn-xs"
               data-toggle="modal"
               data-target="#frmModal"
               onclick="clearForm(this);">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
        <input type="hidden" id="error" value="{Error}" />
    </div>

    <!-- Imagenes de la galeria -->
    <div class="row">
        <!--Entities-->
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="/{item.Path}" alt="{item.Name}" class="img-responsive"/>

                <p>
                    <a class="btn btn-danger btn-xs"
                           title="Eliminar imagen"
                           data-url="{Path}/Images/Delete/{item.Product}?&Id={item.Id}"
                           data-target="#frm-eliminar"
                           data-toggle="modal"
                           onclick="deleteImage(this);">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>

                </p>
            </div>
        </div>
        <!--Entities-->
    </div>

</div>

<!-- Modal Nueva -->
<div class="modal fade" id="frmModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <form action="{Path}/Images/Save/{Product.Id}" method="post" enctype="multipart/form-data" >

            <input type="hidden" name="Reference" value="{Product.Reference}" />
            <input type="hidden" name="Id" value="{Product.Id}" />

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Cerrar</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Imagenes</h4>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <button type="button"
                            class="btn btn-primary"
                            onclick="addImage()">Agregar imagen nueva</button>
                    </div>
                </div>

                <div class="modal-footer">

                    <button type="submit"
                        class="btn btn-primary">Aceptar</button>

                    <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">Cancelar</button>

                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    function clearForm(){
        $("input[type='file']").parent().remove();
    }

    function addImage(){

        var count = $("input[type='file']").length + 1;

        var label = $("<label />").text("Archivo");

        var span = $("<span />").addClass("glyphicon glyphicon-remove");

        var input = $("<input />")
                .attr("name","files[]")
                .attr("type", "file")
                .attr("required", "required")
                .addClass("form-control");

        var anchor = $("<a />")
                .append(span)
                .addClass("btn btn-danger btn-xs")
                .attr("onclick", "removeImage(this);");

        var div = $("<div />")
                .addClass("form-group form-inline")
                .append(label)
                .append(input)
                .append(anchor);

        $(".modal-body").append(div);
    }

    function removeImage(obj){
        $(obj).parent().remove();
    }

</script>

<!-- Resultado de la operación -->
<div class="container">
    <div class="alert alert-dismissible {eResultClass} hide"
        data-class="{eResultClass}" role="alert">
        <button type="button" class="close"
               data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span></button>
        <p class="help-block">{eResult}</p>
    </div>
</div>


<!-- Modal Eliminar -->
<div class="modal fade" id="frm-eliminar" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header titulo-modal-dialog-rb">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Cerrar</span>
                </button>
                <h4  id="myModalLabelE" class="modal-title">Eliminar Imagen</h4>
            </div>
            <div class="modal-body">
                <p>
                    ¿Desea eliminar la imagen de la galería seleccionada?
                </p>
            </div>
            <div class="modal-footer">

                <button type="button"
                    class="btn btn-default"
                    data-dismiss="modal">Cerrar</button>

                <a id="btnDelete"
                   class="btn btn-danger"
                   href="#" >Eliminar</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function deleteImage(obj){
        $("#btnDelete").attr("href", $(obj).data("url"));
    }

    $(function(){
        if($("#error").val() === "1") {
            $("#frm-edicion").modal("show");
        }
    });

</script>
