.print{
    color:#585858;
}

span.glyphicon-log-in[data-delivery='2']{
    display: none;
}

span.glyphicon-home[data-delivery='1']{
    display: none;
}

span.glyphicon-usd[data-payment='2']{
    display: none;
}

span.glyphicon-credit-card[data-payment='1']{
    display: none;
}


.tabla-semanal, .tabla-semanal th{
    text-align: center;
}

.td-checkbox{
    width:20px;
}

.td-postcode{
    width:65px;
}

#control{
    text-align: right;
}

.cool_checkbox, .cool_checkbox *{
    height:30px; margin:0; padding:0;
    display:inline-block;
    white-space:nowrap; user-select: none;
}

.cool_checkbox{
    font-family:sans-serif;
    width:65px; position:relative; overflow:hidden;
    border:1px solid gray; border-radius:6px;
    background:gray;
}

.cool_checkbox input{
    display:none;
}
.cool_checkbox label{
    position:absolute; width:120px;
    cursor:pointer;
    transition: left 0.2s ease-in-out;
    vertical-align:top;
    line-height:100%;
    left:-56px;
    display:block;
}
.cool_checkbox > input:checked + label{
    left:0px;
}

.cool_checkbox > input:disabled + label{
    opacity:0.8;
}

.cool_checkbox label > span{
    text-align:left; text-transform:uppercase;
    font-weight:bolder; font-family:sans;
    width:50px; position:relative; z-index:0;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    vertical-align:middle;
    line-height:30px;
}
.cool_checkbox label > span:nth-child(1){
    padding-right:15px; text-align:right;
    background:#4085EC;
    background-image: linear-gradient(bottom, #76AEFC 0%, #4D8EEF 49%, #4085EC 50%, #336ED4 100%);
    color:white; text-shadow: 0px -1px 0.5px #1b3d72;
}

.cool_checkbox label > span:nth-child(2){
    width:40px; margin:-2px -10px; z-index:1; border-radius: 6px;height:32px;
    background:gray;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.cool_checkbox label > span:nth-child(2) > span{
    width:38px; height:29px; margin:1px;
    border-top:1px solid white;
    overflow:hidden; text-indent:-999em;
    border-radius: 5px;
    background:#e4e4e4; background-image: linear-gradient(bottom, #FBFBFB 0%, #CECECE 100%);
}

.cool_checkbox label > span:nth-child(3){
    padding-left:15px; text-align:left;
    color:#7e7e7e;
    background:#EFEFEF; background-image: linear-gradient(bottom, #FEFEFE 0%, #F9F9F9 49%, #EFEFEF 50%, #E7E7E7 100%);
}

/* A partir de aquí: arreglos temporales hasta que CSS3 esté bien soportado */
.cool_checkbox{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.cool_checkbox label{
    -moz-transition: left 0.2s ease-in-out;
    -webkit-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
}
.cool_checkbox label > span{
    -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.cool_checkbox label > span:nth-child(1){
    background-image: -o-linear-gradient(bottom, #76AEFC 0%, #4D8EEF 49%, #4085EC 50%, #336ED4 100%);
    background-image: -moz-linear-gradient(bottom, #76AEFC 0%, #4D8EEF 49%, #4085EC 50%, #336ED4 100%);
    background-image: -webkit-linear-gradient(bottom, #76AEFC 0%, #4D8EEF 49%, #4085EC 50%, #336ED4 100%);
    background-image: -ms-linear-gradient(bottom, #76AEFC 0%, #4D8EEF 49%, #4085EC 50%, #336ED4 100%);
}
.cool_checkbox label > span:nth-child(2){
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.cool_checkbox label > span:nth-child(2) > span{
    background-image: -o-linear-gradient(bottom, #FBFBFB 0%, #CECECE 100%);
    background-image: -moz-linear-gradient(bottom, #FBFBFB 0%, #CECECE 100%);
    background-image: -webkit-linear-gradient(bottom, #FBFBFB 0%, #CECECE 100%);
    background-image: -ms-linear-gradient(bottom, #FBFBFB 0%, #CECECE 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.cool_checkbox label > span:nth-child(3){
    background-image: -o-linear-gradient(bottom, #FEFEFE 0%, #F9F9F9 49%, #EFEFEF 50%, #E7E7E7 100%);
    background-image: -moz-linear-gradient(bottom, #FEFEFE 0%, #F9F9F9 49%, #EFEFEF 50%, #E7E7E7 100%);
    background-image: -webkit-linear-gradient(bottom, #FEFEFE 0%, #F9F9F9 49%, #EFEFEF 50%, #E7E7E7 100%);
    background-image: -ms-linear-gradient(bottom, #FEFEFE 0%, #F9F9F9 49%, #EFEFEF 50%, #E7E7E7 100%);
}

.titulo-modal-dialog-rb{
background-color:#000;
color:#fff;
}

.titulo-modal-dialog-rb button, .titulo-modal-dialog-rb span{
color:#fff;
}

#block-date{
width:100%;
}

.hasDatepicker{

}

.diners{
width:80px;
}

#ui-datepicker-div{display:none;}

.delete-link{color: #000;}

.table-resbooking tbody tr td{ vertical-align:middle }

.table-resbooking {
width: 100%;
font-size: 0.9em;
border: solid #ccc 1px;
border-radius: 5px;
border-spacing: 1px;
}

.table-resbooking caption {
color: #555;
font-style: italic;
margin-bottom: 8px;
}

.table-resbooking tfoot tr:last-child {
background:#1dabb8;
color:#fff;
}

.table-resbooking tr:first-child th:first-child{
border-top-left-radius: 5px;
}

.table-resbooking tr:first-child th:last-child{
border-top-right-radius: 5px;
}

.table-resbooking tr:last-child td{

}

.table-resbooking th {
  text-align: left;
	cursor:pointer;
}

.table-resbooking td:last-child, .table-resbooking th:last-child {

}

.table-resbooking td, .table-resbooking th {
  padding: 6px 12px;
}

.table-resbooking tr:nth-child(odd), .table-resbooking tr:nth-child(odd) {
  background: #eee;
}

.table-resbooking tr:nth-child(even) {
  background: #fff;
}

.table-resbooking thead tr:first-child, .table-resbooking thead tr:first-child {
background: #282830;
color:white;
}

.table-resbooking  td:empty { /* background:white; */}

/* error al visualizar el calendario*/
#ui-datepicker-div{display:none;}
/* Pie de página */
#footer{ text-align:center; }
/* Calendario sólo con icono */
.hide-calendar{width: 0px; border: 0px; vertical-align: top;}
/* Estilos para el icono de calendario */
.ui-datepicker-trigger {vertical-align: middle; cursor:pointer;}
/* Clase burbuja pendientes */
.advertencia {color: #F86F4D; margin: 5px; font-weight: bold;}

/********************************************************/
.rwd-table {
  min-width: 275px;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

.rwd-table tfoot td:before {
  content: attr(data-th) "";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 1024px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 1024px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
  }
}
.rwd-table {
  overflow: hidden;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 1024px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}

/********************************************************/
html{
background-color:#000000;
}
html,body {
height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by its height */
margin: 0 auto -60px;
/* Pad bottom by footer height */
padding: 0 0 60px;
background-color:#ffffff;
}

#wrap > .container {
  padding: 60px 15px 0;
}

/* Set the fixed height of the footer here */
#footer {
height: 60px;
padding:10px;
background-color:#000;
text-align:center;
width:100%;
color:#ffffff;
}

#footer p{
    margin:10px 0;
}

#footer a{
    color:#ffffff;
    text-decoration:none;
}

#footer a:hover{
    text-decoration:underline;
}

#places td:nth-child(2){
    text-align:right;
}

#blocks td:nth-child(3){
    text-align:right;
}
