<!DOCTYPE html>
<html lang="{{layout.header.lang}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="/assets/styles/root.css" />
        <link rel="stylesheet" type="text/css" href="/assets/styles/layout.css" />
        <link rel="stylesheet" type="text/css" href="/assets/styles/main.css" />
    </head>
    <body>
        <header class="header">
            <h1>
                <a href="/">{{layout.app}}</a>
            </h1>
            {{#if user->isAuthenticated:}}
            <nav class="nav">
                <a href="/reservations">{{layout.reservations}}</a>
                <a href="/availabilities">{{layout.availabilities}}</a>
                <a href="/settings">{{layout.settings}}</a>
                <a href="/accounts/sign-out">{{layout.signout}}</a>
            </nav>
            {{#endif user->isAuthenticated:}}
            {{#if !user->isAuthenticated:}}
            <nav class="nav">
                <a href="/accounts/sign-in">{{layout.signin}}</a>
                <a href="/accounts/sign-up">{{layout.signup}}</a>
            </nav>
            {{#endif !user->isAuthenticated:}}
        </header>
        <main class="main">
            {{content}}
        </main>
        <footer class="footer">
            <p>{{layout.footer}}</p>
        </footer>
        <script src="/assets/scripts/main.js"></script>
    </body>
</html>
