<!--Layout={_layout_iframe.html}-->
<div class="container">
    <div class="page-header">
        <h1>Términos y Condiciones Legales</h1>
    </div>

    <article>
        <h2>Política de privacidad</h2>
        <p>
            Nuestra política de privacidad describe como recogemos, guardamos
            o utilizamos la información que recabamos a través de los diferentes
            servicios o páginas disponibles en este sitio. Es importante que
            entienda que información recogemos y como la utilizamos ya que el
            acceso a este sitio implica la aceptación nuestra política de
            privacidad.
        </p>
    </article>

    <article>

        <h2>Condiciones sobre protección de datos personales</h2>

        <h3>Protección de datos</h3>

        <p>
            Según lo previsto en la Ley Orgánica 15/1999, de 13 de diciembre,
            de Protección de Datos de Carácter Personal, le informamos de
            que sus datos serán incorporados a un fichero automatizado de
            datos de carácter personal, denominado “db504761401”, que es
            responsabilidad de “Alfonso Segura González” y cuya única finalidad
            es la de desarrollar nuestra mutua relación comercial, basada
            en el interés por parte del usuario de conocer los productos
            que se ofrecen en esta web. De igual modo, sus datos podrán
            ser utilizados, para el envío periódico de ofertas y de información
            comercial de su interés.
        </p>

        <h3>Cumplimentación del formulario</h3>
        <p>
            En el momento de la aceptación de las presentes condiciones
            generales, Alfonso Segura González, precisará del cliente,
            la recogida de unos datos imprescindibles para la prestación
            de sus servicios, el no facilitar los datos personales
            solicitados, o el no aceptar la presente política de protección
            de datos, supone la imposibilidad de suscribirse, registrarse
            o participar en cualquiera de las promociones en las que se
            soliciten datos carácter personal.
        </p>

        <h3>Exactitud y veracidad de los datos facilitados</h3>
        <p>
            El cliente registrado es el único responsable de la veracidad
            y corrección de los datos incluidos, garantizando y respondiendo
            en cualquier caso, de la exactitud, vigencia y autenticidad
            de los datos personales facilitados, comprometiéndose a
            mantenerlos debidamente actualizados y exonerando a
            Alfonso Segura González de cualquier responsabilidad al
            respecto.
        </p>

        <p>
            Alfonso Segura González no responde de la veracidad de
            las informaciones que no sean de elaboración propia y de las
            que indique otra fuente, por lo que tampoco asume
            responsabilidad alguna en cuanto a hipotéticos perjuicios que
            pudieran originarse por el uso de dicha información.
        </p>

        <p>
            De igual modo, Alfonso Segura González, se reserva el derecho
            a actualizar, modificar o eliminar la información contenida en
            sus páginas web, pudiendo incluso limitar o no permitir el
            acceso a dicha información.
        </p>

        <h3>Ejercicio de derechos de acceso, rectificación,
            cancelación y oposición</h3>
        <p>
            Para el ejercicio de los derechos de acceso, rectificación,
            cancelación y oposición, el cliente, podrá dirigirse por correo
            electrónico a info@resbooking.es, acreditando su personalidad mediante
            fotocopia del Documento Nacional de Identidad o cualquier
            otro medio válido en Derecho.
        </p>

        <h3>Seguridad</h3>
        <p>
            Alfonso Segura González asegura la absoluta confidencialidad
            y privacidad de los datos personales recogidos y por ello se
            han adoptado medidas esenciales de seguridad para evitar la
            alteración, pérdida, tratamiento o acceso no autorizado y
            garantizar así su integridad y seguridad, especialmente las
            previstas en el Real Decreto 1720/2007, DE 21 DE DICIEMBRE,
            por el que se aprueba el Reglamento de desarrollo de la Ley
            Orgánica 15/99, de 13 de diciembre de Protección de Datos de
            Carácter Personal.
        </p>

        <p>
            Alfonso Segura González, no será responsable de posibles daños
            o perjuicios que se pudieran derivar de interferencias, omisiones,
            interrupciones, virus informáticos, averías telefónicas o
            cualquier otro problema que sea motivado por causas ajenas
            a esta empresa, así como de daños que puedan ser causados por
            terceras personas mediante intromisiones ilegítimas. Ello no
            obstante, el cliente debe ser consciente de que las medidas
            de seguridad en Internet no son inexpugnables.
        </p>

        <h3>Cesión de datos a terceros</h3>
        <p>
            No se realizará por parte de Alfonso Segura González, ninguna
            cesión de datos a terceras personas.
        </p>

        <h3>Aceptación y consentimiento</h3>
        <p>
            El cliente declara haber sido informado de las condiciones
            sobre protección de datos personales, aceptando y consintiendo
            el tratamiento automatizado de los mismos por parte de
            Alfonso Segura González, en la forma y para las finalidades
            indicadas en la presente Política de Protección de Datos
            Personales. Ciertos servicios prestados en el Portal pueden
            contener condiciones particulares con previsiones específicas
            en materia de protección de Datos Personales.
        </p>
    </article>

    <br />
    <br />
</div>
