<!--Layout={_layout.html}-->

<script type="text/javascript" src="{Resources}/scripts/js-core/jquery.roles.js" ></script>

<div class="container">

	<h4>Servicios asociados - <small>{Entity.Name}</small></h4>

	<input type="hidden" id="relations" value='{Relations}' />

	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Servicio</th>
					<th>Descripción</th>
				</tr>
			</thead>
			<tbody>
				<!--Services-->
				<tr>
					<td>
						<input id="chk_{Entity.Id}_{item.Id}"
							type="checkbox"
							name="services"
							data-url="{Path}/Role/"
							data-role="{Entity.Id}"
							data-service="{item.Id}"
							onchange="changeServiceRole(this);" />
					</td>
					<td>{item.Name}</td>
					<td>{item.Description}</td>
				</tr>
				<!--Services-->
			</tbody>
		</table>
	</div>

	<div id="result"></div>

	<div id="msg-result">
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
			</button>
			<strong>Servicio actualizado</strong> la operación se ha realizado correctamente.
		</div>
	</div>

</div>
