<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{Title}</title>
        <link rel="icon" href="{Resources}/content/images/resb-ico.png" type="image/png" />
        <link href="{Resources}/content/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
        <link href="{Resources}/content/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="{Resources}/content/css/resbooking-theme.css?r={Random}" rel="stylesheet" />
        <!--[if lt IE 9]>
          <script src="{Resources}/js/libs/html5shiv.js"></script>
          <script src="{Resources}/js/libs/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{Resources}/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/jquery-ui-1.10.3.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/bootstrap.min.js" ></script>
        <script type="text/javascript" src="{Resources}/js/plugins/datepicker-es.js"></script>
        <script type="text/javascript" src="{Resources}/js/plugins/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/plugins/dataTables.bootstrap.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/json2.js"></script>
        <script type="text/javascript" src="{Resources}/js/common.js?r={Random}"></script>
    </head>

    <body>

        <input type="hidden" id="_project" value="{Project}" />
        <input type="hidden" id="activo" value="{Activo}" />
        <input type="hidden" id="current_path" value="{Path}" />
        <input type="hidden" id="current_resources_path" value="{Resources}" />

        <div id="wrap">
            <div id="menu-principal" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse"
                                data-target="#menu-resbooking">
                                <span class="sr-only">Resbooking</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
                        <a id="logo" class="navbar-brand" href="{Path}/">
                            <img src="{Resources}/content/images/logo-resBooking.png"
                                 alt="resbooking"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="menu-resbooking">
                        <ul class="nav navbar-nav navbar-right">
                            <!--Menu-->
                            <li>
                                <a id="{item.text}"
                                   href="{Path}/{item.name}/{item.action}"
                                   title="{item.title}"
                                   class="menu-opt"
                                   data-actions='{item.childrens}'>
                                    {item.text} <span class="badge"></span></a></li>
                            <!--Menu-->
                            <li>
                                <a href="{Path}/Accounts/ChangePass"
                                   id="Perfil" >Perfil</a></li>
                            <li>
                                <a href="{Path}/Accounts/Logout" id="logout-btn" >
                                    {ProjectName}  [Salir X]</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </div>

            {BODY}

        </div>

        <div id="footer">
            <p>
                <a href="{Path}/Home/Privacity">
                    Terminos y condiciones del servicio</a>
            </p>
        </div>

        <!-- configuración de controles js -->
        <script type="text/javascript">

            $(function() {
                var language = {
                    "emptyTable":     "No hay registros",
                    "info":           "Cargados del _START_ al _END_ de _TOTAL_ registros",
                    "infoEmpty":      "0 de 0 de un total de 0 registros",
                    "infoFiltered":   "(filtrados de un total de _MAX_ registros)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Ver _MENU_ registros por página",
                    "loadingRecords": "Cargando...",
                    "processing":     "Procesando...",
                    "search":         "Buscar:",
                    "zeroRecords":    "La búsqueda no tiene resultados",
                    "paginate": {
                        "first":      "Primero",
                        "last":       "Último",
                        "next":       ">>",
                        "previous":   "<<"
                    },
                    "aria": {
                        "sortAscending":  ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                };
                $('.data-table')
                        .dataTable({ language:language })
                        .removeClass("display");
            });

        </script>

    </body>
</html>
