<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{Title}</title>
        <link rel="icon" href="{Resources}/content/images/resb-ico.png" type="image/png" />
        <link href="{Resources}/content/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
        <link href="{Resources}/content/css/resbooking-theme.css?r={Random}" rel="stylesheet" />
        <!--[if lt IE 9]>
          <script src="{Resources}/js/libs/html5shiv.js"></script>
          <script src="{Resources}/js/libs/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{Resources}/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/jquery-ui-1.10.3.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/bootstrap.min.js" ></script>
        <script type="text/javascript" src="{Resources}/js/plugins/datepicker-es.js"></script>
        <script type="text/javascript" src="{Resources}/js/common.js?r={Random}"></script>
    </head>

    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top"
                 role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a id="logo" class="navbar-brand" href="{Path}/">
                            <img src="{Resources}/content/images/logo-resBooking.png"
                                 alt="resbooking"/>
                        </a>
                    </div>
                </div>
            </div>
            {BODY}
        </div>
        <div id="footer">
            <p>
                <a href="{Path}/Home/Privacity">
                    Terminos y condiciones del servicio</a>
            </p>
        </div>
    </body>
</html>
