<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sin autorización</title>
        <link rel="icon" href="{Resources}/content/images/resb-ico.png" type="image/png" />
        <link href="{Resources}/content/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/bootstrap-theme.min.css"
              rel="stylesheet" media="screen" />
        <link href="{Resources}/content/css/jquery-ui-1.8.4.custom.css"
              rel="stylesheet" />
        <link href="{Resources}/content/css/resbooking-theme.css"
              rel="stylesheet" />
        <!--[if lt IE 9]>
          <script src="{Resources}/js/libs/html5shiv.js"></script>
          <script src="{Resources}/js/libs/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript"
            src="{Resources}/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript"
            src="{Resources}/js/libs/jquery-ui-1.10.3.min.js"></script>
        <script type="text/javascript"
            src="{Resources}/js/libs/bootstrap.min.js" ></script>
        <script type="text/javascript"
            src="{Resources}/js/plugins/sha3.js"></script>
        <script type="text/javascript"
            src="{Resources}/js/plugins/sha512.js"></script>
    </head>

    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a id="logo" class="navbar-brand" href="{Path}/">
                            <img src="{Resources}/content/images/logo-resBooking.png"
                                 alt="resbooking"/>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="jumbotron">
                    <h1>El recurso al que intenta acceder es restringido</h1>
                    <p>
                        Contacte con el administrador para resolver el problema.
                        Gracias por su comprensión</p>
                    <a href="{Path}/Home" class="btn btn-primary"
                       title="Ir al inicio de la aplicación">ir Inicio</a>
                </div>
            </div>
        </div>

        <div id="footer">
            <p>
                <a href="{Path}/Home/Privacity">
                    Terminos y condiciones del servicio</a>
            </p>
        </div>
    </body>
</html>
