<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Usuario no autenticado</title>
        <link rel="icon" href="{Resources}/content/images/resb-ico.png" type="image/png" />
        <link rel="stylesheet prefetch" href="{Resources}/content/css/login.css?r={Random}" />
        <!--[if lt IE 9]>
          <script src="{Resources}/js/libs/html5shiv.js"></script>
          <script src="{Resources}/js/libs/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{Resources}/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/plugins/sha512.js"></script>
        <script type="text/javascript" src="{Resources}/js/login.js?r={Random}"></script>
    </head>

    <body>
        <div id="wrap" class="wrapper">
            <div class="container">
                <div id="login-form">
                    <h3>
                        <img src="{Resources}/content/images/logo-resBooking.png"
                             alt="Resbooking" />
                    </h3>

                    <fieldset>
                        <form id="form" action="" method="post" role="form">
                            <input type="email" id="username" name="username"
                                   required="required" placeholder="Email"/>

                            <input type="password" id="password" required="required"
                                   name="password" placeholder="Password" />

                            <input type="hidden" name="hash" value="SHA512" />

                            <input type="submit" value="Login" />

                            <p class="help-block" >
                                <label>
                                    <input type="checkbox" name="remember" checked="checked"/>
                                    ¿Recordar contraseña?
                                </label>
                                <br />
                                <a id="recovery-password" href="{Path}/Accounts/Recovery">
                                    Recuperar contraseña de acceso</a>
                                <br />
                                <span class="error">{eLogin}</span>
                            </p>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <div id="footer">
            <p>
                <a href="{Path}/Home/Privacity">Terminos y condiciones del servicio</a>
            </p>
        </div>

        <input type="hidden" id="current_path" value="{Path}" />
        <input type="hidden" id="current_resource_path" value="{Resources}" />

    </body>
</html>
