/*** CONTROLS ****/

.checkbox-control {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-sm);
    justify-content: flex-end;

    input[type="checkbox"] {
        accent-color: var(--color-primary);
        cursor: pointer;
        height: 1.25em;
        width: 1.25em;
    }
}

.success-message {
    background-color: var(--color-success-bg);
    border: var(--border-width) solid var(--color-success);
    border-radius: var(--border-radius-sm);
    color: var(--color-success);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-base);
}

.error-summary {
    background-color: var(--color-error-bg);
    border: var(--border-width) solid var(--color-error);
    border-radius: var(--border-radius-sm);
    color: var(--color-error);


    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-base);

    ul {
        padding-left: var(--spacing-lg);
    }

    a {
        color: var(--color-error);
        text-decoration: underline;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    width: 100%;
    max-width: fit-content;
    padding: var(--spacing-base);

    footer {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-base);
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    label {
        color: var(--color-text);
    }

    input {
        border: var(--border-width) solid var(--color-secondary);
        border-radius: var(--border-radius-sm);
        padding: var(--spacing-sm);
    }

    p {
        color: var(--color-text-muted);
    }

    input[aria-invalid="true"],
    input:invalid:not(:placeholder-shown) {
        border-color: var(--color-error);
        color: var(--color-error)
    }

    label:has(+input[aria-invalid="true"]),
    label:has(+input:invalid:not(:placeholder-shown)) {
        color: var(--color-error);
    }

    input[aria-invalid="true"] + p,
    input:invalid:not(:placeholder-shown) + p {
        color: var(--color-error);
    }
}

.inline-form-control {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    justify-content: flex-start;

    label {
        color: var(--color-text);
    }

    input {
        border: var(--border-width) solid var(--color-secondary);
        border-radius: var(--border-radius-sm);
        padding: var(--spacing-sm);
    }
}

.primary-button {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-sm);
    color: var(--color-text-inverse);
    cursor: pointer;
    padding: var(--spacing-base);
    text-decoration: none;
}

.primary-button:focus {
    background-color: var(--color-accent);
}

.primary-button:hover {
    background-color: var(--color-primary-hover);
}

.primary-button:focus-visible {
    outline: none;
    outline-offset: none;
}

/* Table Styles */

.table-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.table {
    border-collapse: collapse;
}
.table th{
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
    padding: var(--spacing-sm);
}
.table th,
.table td {
    border: var(--border-width) solid var(--color-muted);
    padding: var(--spacing-sm);
    text-align: left;
}

.table td.control-group {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
}

.table-pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}

.table-pagination button {
    background-color: var(--color-secondary);
    border: none;
    border-radius: var(--border-radius-sm);
    color: var(--color-text-inverse);
    cursor: pointer;
    padding: var(--spacing-base);
}

.table-pagination button:hover {
    background-color: var(--color-accent);
}

/*** AVAILABILITIES ****/

.availabilities-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    width: 100%;
}

.availability-control {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: calc(100% / 8);

    > input {
        border: var(--border-width) solid var(--color-secondary);
        border-radius: var(--border-radius-sm);
        padding: var(--spacing-sm);
        width: 100%;
        text-align: right;
    }
}

.availability-form-control {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    justify-content: flex-end;
    width: 100%;
}

.availability-form {
    width: fit-content;
}
