<!--Layout={_layout.html}-->
<div class="container" >

	<div class="row">
		<div class="col-lg-6">
			<h2>Solictud de Contacto</h2>
			<form action="/ContactMail/Send"
							method="post"
							role="form" >

				<div class="form-group">
					<p class="help-block" >
						Para hacernos llegar tus preguntas o sugerencias puedes usar este formulario o escribirnos a xxxxx@xxxxx.xxx.
						Muchas gracias por elegirnos. Horario: ...
					</p>
				</div>

				<div class="form-group">
					<label>E-mail</label>
					<input type="email"
						name="from"
						required="required"
						class="form-control"
						placeHolder="myaddress@domain.com" />
					<p class="help-block">Introduce tu dirección de e-mail</p>
				</div>

				<div class="form-group">
					<label>Asunto</label>
					<input type="text"
						name="subject"
						required="required"
						class="form-control"
						placeHolder="Información sobre menus celiacos." />
					<p class="help-block">Introduce el motivo de tu consulta</p>
				</div>

				<div class="form-group">
					<label>Consulta</label>
					<textarea name="query"
						required="required"
						rows="6"
						class="form-control" ></textarea>
					<p class="help-block">Introduce tu consulta</p>
				</div>

				<div class="form-group">
					<button type="submit"
						class="btn btn-primary btn-sm"
						role="button" >Enviar</button>
					<p class="help-block"></p>
				</div>

				<div class="form-group {eResultClass}">
					<p class="help-block">{eResult}</p>
				</div>

			</form>
		</div><!-- end col -->
		<div class="col-lg-5">
			<h3>{ProjectName}</h3>
			<iframe id="frame-contacto" src="https://maps.google.com/maps/ms?msa=0&msid=202220321021645124659.0004ebb1e4063836d7dec&hl=es&ie=UTF8&t=m&ll=40.451691,
-3.690087&spn=0.002857,0.00456&z=17&iwloc=0004ebb1e40751dd2786f&output=embed"></iframe>
		</div><!-- end col -->
	</div><!-- end row -->

	<br />

	<div class="row">
		<div class="col-lg-12">
			<p id="legal-contacto-form" class="help-block">
De acuerdo con la Ley Organica 15/99 de Protección de Datos de Caracter Personal de 13 de diciembre el Restaurante {ProjectName} le informa que los datos facilitados por Vd se incorporarán a un fichero automatizado de datos de caracter personal titularidad del Restaurante, cuya utilización lo será a los sólos efectos relativos al tratamiento de su petición o de su sugerencia, y será gestionado en los terminos establecidos por la Ley, que reconoce a Vd. el derecho de acceso, oposición, rectificación y cancelación.
			</p>
		</div><!-- end col -->
	</div><!-- end row -->

</div>

<br />
