<!--Layout={_layout.html}-->

<input type="hidden" id="url" value="{Path}/Events/SetEvent" />
<input type="hidden" id="events" value='{JSONEvents}' />
<input type="hidden" id="slots" value='{JSONSlots}' />

<input type="hidden" id="week" value="{WeekNavDTO.Current}" />
<input type="hidden" id="year" value="{WeekNavDTO.CurrentYear}" />

<div class="container">

    <!-- cabecera de sección-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>Eventos | Del {WeekNavDTO.FechaLunes} al {WeekNavDTO.FechaDomingo}</h2>
        </div>
        <div id="control" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h2 class="btn-group">
                <a href="{Path}/Events/Index/{WeekNavDTO.Prev}?&year={WeekNavDTO.PrevYear}"
                   class="btn btn-primary"> << Anterior </a>
                <a href="{Path}/Events/Index/{WeekNavDTO.Current}?&year={WeekNavDTO.CurrentYear}"
                   class="btn btn-default"> Semana {WeekNavDTO.Current} </a>
                <a href="{Path}/Events/Index/{WeekNavDTO.Next}?&year={WeekNavDTO.NextYear}"
                   class="btn btn-primary"> Siguiente >> </a>
            </h2>
        </div>
    </div>

    <div class="table-responsive">

        <table id="tabla-bloqueos" class="table table-bordered tabla-semanal">
            <thead>
                <tr>
                    <th>Turno</th>
                    <!--DaysOfWeek-->
                    <th data-id="{item.Id}" data-date="{item.Date}">
                        {item.Name} <span class="help-block">
                            {item.sDate}</span></th>
                    <!--DaysOfWeek-->
                </tr>
            </thead>
            <tbody>
                <!--SlotsOfDelivery-->
                <tr id="slot_{item.Id}" data-slot="{item.Id}"
                    data-text="{item.Name}">
                    <td>{item.Name}</td>
                    <td>
                        <span class="cool_checkbox">
                            <input id="chk_1_{item.Id}"
                                   type="checkbox"
                                   data-slot="{item.Id}"
                                   data-id="0"
                                   data-day="1"
                                   onclick="setEvent(this);">
                            <label for="chk_1_{item.Id}">
                                <span>|</span>
                                <span><span>/</span></span>
                                <span>O</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <span class="cool_checkbox">
                            <input id="chk_2_{item.Id}"
                                   type="checkbox"
                                   data-slot="{item.Id}"
                                   data-id="0"
                                   data-day="2"
                                   onclick="setEvent(this);">
                            <label for="chk_2_{item.Id}">
                                <span>|</span>
                                <span><span>/</span></span>
                                <span>O</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <span class="cool_checkbox">
                            <input id="chk_3_{item.Id}"
                                   type="checkbox"
                                   data-slot="{item.Id}"
                                   data-id="0"
                                   data-day="3"
                                   onclick="setEvent(this);">
                            <label for="chk_3_{item.Id}">
                                <span>|</span>
                                <span><span>/</span></span>
                                <span>O</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <span class="cool_checkbox">
                            <input id="chk_4_{item.Id}"
                                   type="checkbox"
                                   data-slot="{item.Id}"
                                   data-id="0"
                                   data-day="4"
                                   onclick="setEvent(this);">
                            <label for="chk_4_{item.Id}">
                                <span>|</span>
                                <span><span>/</span></span>
                                <span>O</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <span class="cool_checkbox">
                            <input id="chk_5_{item.Id}"
                                   type="checkbox"
                                   data-slot="{item.Id}"
                                   data-day="5"
                                   data-id="0"
                                   onclick="setEvent(this);">
                            <label for="chk_5_{item.Id}">
                                <span>|</span>
                                <span><span>/</span></span>
                                <span>O</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <span class="cool_checkbox">
                            <input id="chk_6_{item.Id}"
                                   type="checkbox"
                                   data-slot="{item.Id}"
                                   data-day="6"
                                   data-id="0"
                                   onclick="setEvent(this);">
                            <label for="chk_6_{item.Id}">
                                <span>|</span>
                                <span><span>/</span></span>
                                <span>O</span>
                            </label>
                        </span>
                    </td>
                    <td>
                        <span class="cool_checkbox">
                            <input id="chk_7_{item.Id}"
                                   type="checkbox"
                                   data-slot="{item.Id}"
                                   data-day="7"
                                   data-id="0"
                                   onclick="setEvent(this);">
                            <label for="chk_7_{item.Id}">
                                <span>|</span>
                                <span><span>/</span></span>
                                <span>O</span>
                            </label>
                        </span>
                    </td>
                </tr>
                <!--SlotsOfDelivery-->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">&nbsp;</td>
                </tr>
            </tfoot>

        </table>
    </div>


</div>

<script type='text/javascript' src="{Resources}/js/events.js"></script>
