<!--Layout={_layout_public.html}-->
<div id="privacity" class="container">

	<h1>Términos y condiciones del servicio</h1>

	<h2>Política de Privacidad.</h2>

	<p>
		En virtud del cumplimiento de la Ley 34/2002, de 11 de Julio, de Servicios de la Sociedad
		de la Información y de Comercio Electrónico, le informamos:
	</p>

	<h3>1. Objeto.</h3>
	<p>
		www.try-catch.es es un dominio en internet de titularidad de <em>TRY-CATCH WIDE ICT SOLUTIONS,
		SL</em>. Este Aviso Legal regula la utilización de dicho dominio.
	</p>
<!--
	<p>
		Este Aviso Legal regula la utilización de dicho dominio.
	</p>
-->
	<p>
		La utilización de este sitio web implica la aceptación por parte del Usuario de las condiciones
	 	de uso incluidas en este Aviso. En el caso de que ciertos servicios contenidos y/o herramientas
		ofrecidos a través de este “Portal” requirieran de la aplicación condiciones particulares estas
		se pondrán a disposición del Usuario.
	</p>
	<p>
		Por otra parte, <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em> advierte que, tanto los contenidos y servicios
		de esta página web como las propias condiciones de utilización, pueden ser modificados sin
		notificación previa.
	</p>

	<h3>2. Condiciones de utilización.</h3>

	<p>
		El Usuario se compromete a que, en los apartados en que sea necesario que se registre para poder
		acceder a los mismos, facilitar datos veraces, exactos y completos sobre su identidad. Además se
		compromete a mantener actualizados los datos personales que pudieran ser proporcionados a titular
		del dominio, por lo tanto, único responsable de las falsedades o inexactitudes que realice.
	</p>
	<p>
		Se informa que en caso de ser menor de edad deberá obtener el permiso de sus padres, tutores o
		representantes legales para poder acceder a los servicios prestados. <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em>
	  no se responsabiliza en el caso de que los datos sobre este tema sean inexactos o falsos.
	</p>
	<p>
		El "portal" sólo puede ser utilizado con propósitos legales por tanto el usuario se obliga a hacer
		un uso lícito y honrado del portal y conforme a las presentes Condiciones Generales de Uso, a No
		utilizar los servicios del “portal” para la realización de actividades contrarias a las legislación
		española, a la moral y al orden público, asumiendo por parte del usuario todas las responsabilidades
		de daños y perjuicios frente al titular del dominio o terceros que pudieran derivarse de prácticas
		ilegales o no permitidas entres otras y a titulo enunciativo y no limitativo:
	</p>

	<ul>
		<li>
			Realizar sin previo consentimiento por parte del titular del dominio cualquier manipulación o
			alteración de esta página, no asumiendo el titular del dominio ninguna responsabilidad que pudiera
			derivarse, de dicha manipulación o alteración por terceros.
		</li>
		<li>
			Realizar cualquier acto que pueda dañar, inutilizar, sobrecargar, o deteriorar el Portal y los
			servicios y/o impedir el normal uso y utilización por parte de los Usuarios.
		</li>
		<li>
			Introducir y/o Utilizar programas de ordenador, datos, archivos defectuosos, virus, código malicioso,
			equipos informáticos o de telecomunicaciones o cualquier otro, independientemente de su naturaleza
			que pueda causar daños en el Portal, en cualquiera de los servicios, o en cualesquiera activos (físicos
			 o lógicos) de los sistemas de información de titular del dominio.
		</li>
		<li>
			Violar los derechos de terceros a la intimidad, la propia imagen, la protección de datos al secreto en
			las comunicaciones, a la propiedad intelectual e industrial.
		</li>
		<li>
			Ocultar y falsear el origen de mensajes de correo electrónico.
		<li>
			Utilizar identidades falsas, suplantar la identidad de otros en la utilización del Portal o en la
			utilización de cualquiera de los servicios.
		</li>
		<li>
			Reproducir, distribuir, modificar o copiar el contenido de esta página, salvo que de disponga de la
			autorización del titular del dominio o esté legalmente autorizado.
		</li>
		<li>
			Transmitir a terceros no autorizados los nombres de Usuario y las claves de acceso.
		</li>
	</ul>

	<p>
		<em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em>  no responde de los enlaces (LINKS) a otras páginas de Internet
		de terceros y su existencia no implica que <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em>  acepte sus contenidos
		y servicios. Estas otras páginas web no están controladas por <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em>  ni
		cubiertas por la presente Política de Privacidad. Si accede a otras páginas web utilizando los Links
		proporcionados, los operadores de dichos sitios web podrán recoger su información personal. Asegúrese
		que está conforme con las Políticas de Privacidad de estas terceras páginas web antes de facilitar
		ningún tipo de información personal.
	</p>

	<p>
		Con carácter general, el titular del dominio, excluye su responsabilidad por los daños y perjuicios de
		cualquier naturaleza e índole que pudieran derivarse del uso del sitio web de, así como a los daños y
		perjuicios derivados de la infracción de los derechos de propiedad Intelectual e Industrial por parte
		de los usuarios y/o la falta de veracidad, exactitud, y actualidad de los contenidos, ni le podrán ser
		exigidas responsabilidades por la interrupción del servicio, inadecuado funcionamiento o imposibilidad
		 de acceso al servicio.
	</p>

	<p>
		El titular del dominio no será responsable por los daños y perjuicios causados por la presencia de virus
		 o cualquier otro software lesivo que pueda producir alteraciones en el sistema informático del Usuario.
	</p>

	<p>
		El sitio web, incluyendo a título enunciativo pero no limitativo, su programación, diseños, logotipos,
		texto y/o gráficos son propiedad del prestador o en su caso dispone de licencia o autorización expresa
		 por parte de los autores.
	</p>

	<p>
		Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso,
		 explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa
		por parte del titular del dominio.
	</p>

	<p>
		El usuario se compromete a no realizar ningún acto en contra de los derechos de propiedad intelectual
		 o industrial del autor.
	</p>

	<p>
		El prestador autoriza expresamente a que terceros puedan redirigir directamente a los contenidos concretos
		 del sitio web, debiendo en todo caso redirigir al sitio web principal del prestador.
	</p>

	<h3>3. Protección de Datos.</h3>

	<p>
		De conformidad con la vigente Ley Orgánica 15/1999 de Protección de Datos, <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em>
	  informa que los datos de carácter personal de los Usuarios del sitio web se incorporarán y tratarán en un fichero
		 propiedad de <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em>  y que será gestionado exclusivamente para la finalidad descrita
		 en cada formulario o medio de respuesta. Al pulsar el botón “ENVIAR”, el Usuario consiente al tratamiento de sus
		datos por parte de <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em> se compromete a que los datos de carácter personal solicitados
		serán los estrictamente necesarios para llevar a cabo el servicio demandado. Se le informará en su caso de la
		obligatoriedad de facilitar determinados datos, sin los cuales no sería posible llevar a cabo la prestación.
	</p>

	<p>
		Igualmente, <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em>, como responsable del fichero, se compromete a mantener el secreto y
		la confidencialidad sobre los Datos de carácter personal que le sean facilitados, adoptando para ello todas las
		medidas de seguridad necesarias que eviten su pérdida, modificación sin consentimiento o accesos no autorizados,
		de acuerdo con el Reglamento de Desarrollo de la LOPD aprobado por el Real Decreto 1720/2007, de 21 de diciembre.
	</p>

	<p>
		Así mismo se informa al Usuario que en cualquier momento puede ejercitar los derechos de acceso, rectificación,
		cancelación y oposición reconocidos en la Ley Orgánica 15/1999, de 13 de Diciembre de 1999, de Protección de Datos
		de Carácter Personal, notificándolo a <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em> dirección sede social.
	</p>

	<p>
		Por otro lado, de acuerdo con lo dispuesto en la Ley 34/2002, de 11 de Julio, de Servicios de la Sociedad de
		Información y de Comercio Electrónico, <em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em>, se compromete a no enviar publicidad
		a través del correo electrónico sin haber recabado antes la expresa autorización del destinatario. El Usuario
		podrá oponerse al envío de publicidad marcando la casilla correspondiente.
	</p>

	<p>
		<em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em> utiliza procedimientos automáticos de recogida (Cookies) para reunir información
		 personal como puede ser el tipo de navegador o sistema operativo, página de referencia, ruta, dominio ISP
		(Proveedor de Internet), etc…, todo ello con el fin de conocer cómo los visitantes usan la página web. Las Cookies
		 nos ayudan a adaptar ésta página web a sus necesidades personales.
	</p>

	<p>
		<em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em> guarda toda la información recogida a través de las Cookies en un formato no
		personalizado. Este tipo de información obtenida a través de las Cookies no será revelada fuera de
		<em>TRY-CATCH WIDE ICT SOLUTIONS, SL</em>, ni utilizada para comunicaciones no solicitadas.
	</p>

	<p>
		Las Cookies localizadas en su ordenador no contienen su nombre completo, sino una dirección de IP. Después de
		que la sesión del Usuario finalice, la información contenida en las Cookies ya no estará a disposición de
		<em>TRY-CATCH WIDE ICT SOLUTIONS, SL.</em>
	</p>

	<p>
		Puede configurar su programa navegador de manera que le advierta de la presencia de cookies antes de aceptarlas o,
		directamente, configurarlo para que las rechace automáticamente, en cuyo caso puede que no tenga acceso a todos los
		servicios de este sitio web. El botón de “ayuda” de su navegador le indicará cómo hacer esto.
	</p>

	<p>
		No necesita tener instaladas cookies para usar o navegar por determinadas partes de esta página web o de otras
		páginas de <em>TRY-CATCH WIDE ICT SOLUTIONS, SL.</em>
	</p>

	<p>
		Recuerde que si utiliza diferentes ordenadores en distintos lugares tendrá que asegurarse de que cada programa
		navegador está ajustado a sus preferencias sobre el uso de cookies.
	</p>

	<h3>LEGISLACION APLICABLE</h3>

	<p>
		Las presentes Condiciones se regirán en todo momento por lo dispuesto en la legislación española.
	</p>
</div><!-- end privacity container -->
<br />
