<!--Layout={_layout.html}-->

<script type="text/javascript" src="{Resources}/js/offers.js?r={Random}"></script>
<input type="hidden" id="offer" value ="{Entity.Id}" />

<div class="container">

    <!-- cabecera de sección-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>
                <a href="{Path}/Offers/Index">Ofertas</a>
                | Disponibilidad de la oferta <small>{Entity.Title}</small>
            </h2>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped" >
            <thead>
                <tr>
                    <!--DaysH-->
                    <th>{item.Name}</th>
                    <!--DaysH-->
                </tr>
            </thead>
            <tbody>
                <!--Turns-->
                <tr data-id="{item.Id}" data-days='{item.Days}' class="tr_turno">
                    <!--Days-->
                    <td>
                        <span class="texto-turno">{item.Start}</span>
                        <span class="cool_checkbox" title="Turno no disponible">
                            <input type="checkbox"
                               id="chk_{item.Id}_{item.DayOfWeek}"
                               class="checks_turnos"
                               disabled="disabled"

                               data-id="0"
                               data-offer="{Entity.Id}"
                               data-turn="{item.Id}"
                               data-slot="{item.Slot}"
                               data-dow="{item.DayOfWeek}"
                               onclick="guardarConfiguracion(this)"/>
                            <label for="chk_{item.Id}_{item.DayOfWeek}">
                                <span>|</span><span><span>/</span></span><span>O</span>
                            </label>
                        </span>

                    </td>
                    <!--Days-->
                </tr>
                <!--Turns-->
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">
    $(function(){
        obtenerConfiguracion();
    });
</script>
