<!--Layout={_layout.html}-->

<script type="text/javascript" src="{Resources}/js/offers.js?r={Random}"></script>

<input type="hidden" id="err" value="{Error}" />

<div class="container">

    <!-- cabecera de sección-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>Gestión de ofertas</h2>
        </div>
        <div id="control" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h2>
                <a href="#" class="btn btn-primary" data-toggle="modal"
                   data-target="#formulario" title="Crear una nueva oferta"
                   onclick="nuevaOferta();" >+ Nueva oferta</a>
            </h2>
        </div>
    </div>

    <!-- tabla de ofertas registradas -->
    <div class="table-responsive" >
        <table class="table table-striped table-resbooking rwd-table" >
            <thead>
                <tr>
                    <td title="Indicación si la oferta es visible en el carousel web">Visible Web</td>
                    <td title="Título de la oferta">Título</td>
                    <td title="Descripción de la oferta">Descripción</td>
                    <td title="Términos de la oferta">Términos</td>
                    <td title="Fecha de inicio de la oferta">Inicio</td>
                    <td title="Fecha de caducidad de la oferta">Fin</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <!--Entities-->
                <tr>
                    <td><span class="glyphicon {item.sWeb}"
                              title="Indica si la oferta es visible en el carousel web"></span></td>
                    <td data-toggle="tooltip" data-placement="bottom"
                        title="{item.Title}" >{item.sTitle}</td>
                    <td data-toggle="tooltip" data-placement="bottom"
                        title="{item.Description}" >{item.DescText}</td>
                    <td data-toggle="tooltip" data-placement="bottom"
                        title="{item.Terms}">{item.TermsText}</td>
                    <td>{item.sStart}</td>
                    <td>{item.sEnd}</td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#formulario"
                           data-id="{item.Id}" data-title="{item.Title}"
                           data-desc="{item.Description}" data-terms="{item.Terms}"
                           data-start="{item.Start}" data-end="{item.End}" data-web="{item.Web}"
                           onclick="editarOferta(this);"
                           title="Editar detalles de la oferta"
                           class="btn btn-default btn-xs" >
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="{Path}/Offers/Configuration/{item.Id}"
                           title="Configurar disponibilidad de la oferta"
                           class="btn btn-default btn-xs" >
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>

                        <a href="{Path}/OffersEvents/Index/{item.Id}"
                           title="Configurar días excepcionales de la oferta"
                           class="btn btn-default btn-xs" >
                            <span class="glyphicon glyphicon-calendar"></span>
                        </a>

                        <a href="{Path}/Offers/Share/{item.Id}"
                           title="Cuota de la oferta"
                           class="btn btn-default btn-xs" >
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </a>

                        <a href="#" data-id="{item.Id}"
                           data-toggle="modal" data-target="#eliminar"
                           onclick="$('#btnEliminar').data('id', '{item.Id}');"
                           title="Eliminar oferta"
                           class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                <!--Entities-->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">&nbsp;</td>
                </tr>
            </tfoot>
        </table>

        <div class="alert {eGenResultClass} alert-dismissible hide" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <p id="resultado">{eGenResult}</p>
        </div>

    </div>
</div>

<!-- Formulario de edición y creación de ofertas -->
<div class="modal fade" id="formulario" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="{Path}/Offers/Save" method="post" role="form" >
        <input type="hidden" id="Id" name="Id" value="{Entity.Id}" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header titulo-modal-dialog-rb">
                    <button type="button" class="close"
                          data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Oferta</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group {eTitleClass}">
                        <label>Título</label>
                        <input type="text" name="Title" maxlength="100"
                               placeHolder="Cena con nosotros! 2x1 en cenas"
                               required="required" value="{Entity.Title}"
                               class="form-control" />
                        <p class="help-block"
                           data-msg="Introduce un título llamativo para la oferta.">
                            Introduce un título llamativo para la oferta. {eTitle}
                        </p>
                    </div>

                    <div class="form-group {eDescClass}">
                        <label>Descripción</label>
                        <textarea name="Description" maxlength="1000" rows="3"
                                placeHolder="2x1 en cenas de lunes a jueves.."
                                class="form-control" >{Entity.Description}</textarea>
                        <p class="help-block"
                           data-msg="Incluye una descripción de la oferta.">
                            Incluye una descripción de la oferta. {eDesc}
                        </p>
                    </div>

                    <div class="form-group {eTermsClass}">
                        <label>Términos y Condiciones</label>
                        <textarea name="Terms" maxlength="500" rows="3"
                                  placeHolder="Términos y condiciones..."
                                  class="form-control" >{Entity.Terms}</textarea>
                        <p class="help-block"
                           data-msg="Define las condiciones para la oferta.">
                            Define las condiciones para la oferta. {eTerms}
                        </p>
                    </div>

                    <div class="form-inline form-group {ePeriodoClass}">
                        <label>Inicio</label>
                        <input type="text" id="Start" name="Start"
                               data-value="{Entity.Start}"
                               class="form-control calendar"
                               placeHolder="11-12-2014" />&nbsp;&nbsp;
                        <label>Fin</label>
                        <input type="text" id="End" name="End"
                               data-value="{Entity.End}"
                               class="form-control calendar"
                               placeHolder="15-02-2015" />
                        <p class="help-block"
                           data-msg="¿Cuál es el periodo de validez de la oferta?.">
                            ¿Cuál es el periodo de validez de la oferta?. {ePeriodo}
                        </p>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="Web" data-checked="{Entity.Web}" />
                                ¿Visible en el carousel web?</label>
                        </div>
                    </div>

                    <div class="form-group {eResultClass}">
                        <p class="help-block" >{eResult}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Cancelar</button>
                    <button type="submit"
                            class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Formulario Eliminación de oferta -->
<div class="modal fade" id="eliminar" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header titulo-modal-dialog-rb">
                <button type="button" class="close"
                      data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Oferta</h4>
            </div>

            <div class="modal-body">
                <p>
                    La eliminación de ofertas es un proceso irreversible.
                    Una vez eliminada, no podrá ser seleccionada en el formulario
                    de reservas y será desconfigurada.
                </p>
                <p>¿Está seguro que desea eliminar la oferta?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnEliminar"
                        data-id="0" data-url="{Path}/Offers/Delete/"
                        onclick="eliminarOferta(this);">
                    Sí, deseo eliminar la oferta</button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
