<!--Layout={_layout.html}-->

<div class="container">

    <!-- cabecera de sección-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>Pedidos Pendientes</h2>
        </div>
    </div>

    <!-- Tabla de productos -->
    <div id="solicitudes-container" class="table-responsive">

        <table class="table table-bordered table-striped data-table2 ">
            <thead>
                <tr>
                    <th class="col-id" data-th="#">#</th>
                    <th class="col-ticket" data-th="Ticket">Ticket</th>
                    <th class="col-name" data-th="Nombre">Nombre</th>
                    <th class="col-phone" data-th="Teléfono">Teléfono</th>
                    <th class="col-date" data-th="Fecha">Fecha</th>
                    <th class="col-hour" data-th="Hora">Hora</th>
                    <th class="col-amount" data-th="Importe">Importe</th>
                    <th class="col-disc" data-th="Descuento">Descuento</th>
                    <th class="col-total" data-th="Total">Total</th>
                    <th class="col-state" data-th="Estado">Estado</th>
                </tr>
            </thead>
            <tbody>
                <!--Entities-->
                <tr class="rwdata">
                    <td class="col col-id" data-th="#" >

                        <a href="{Path}/Requests/Ticket/{item.Id}" target="_blank"
                           title="Imprimir ticket de compra" class="print">
                            <span class="glyphicon glyphicon-print"></span>
                        </a>

                        <span class="glyphicon glyphicon-log-in"
                              title="Recoger en local"
                              data-delivery="{item.DeliveryMethod}"></span>

                        <span class="glyphicon glyphicon-home"
                              title="Llevar a domicilio"
                              data-delivery="{item.DeliveryMethod}"></span>
                        <span class="glyphicon glyphicon-usd"
                              title="Pago en metálico"
                              data-payment="{item.PaymentMethod}"></span>
                        <span class="glyphicon glyphicon-credit-card"
                              title="Pago con tarjeta"
                              data-payment="{item.PaymentMethod}"></span>
                    </td>
                    <td class="col col-ticket"
                        data-th="Ticket"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{item.Ticket}">
                        <a href="{Path}/Requests/Details/{item.Id}">
                            {item.sTicket}
                        </a>
                    </td>
                    <td class="col col-name"
                        data-th="Name"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{item.Name}">
                        {item.sName}
                    </td>
                    <td class="col col-phone"
                        data-th="Teléfono"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{item.Phone}">
                        {item.Phone}
                    </td>
                    <td class="col col-date"
                        data-th="Hora"
                        data-value="{item.Date}"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{item.DeliveryDate}">
                        {item.DeliveryDate}
                    </td>
                    <td class="col col-hour"
                        data-th="Hora"
                        data-value="{item.DeliveryTime}"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{item.sDeliveryTime}">
                        {item.sDeliveryTime}
                    </td>

                    <td class="col col-amount"
                        data-th="Importe"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{item.Amount}">
                        {item.Amount} €
                    </td>

                    <td class="col col-disc"
                        data-th="Descuento"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{item.sDiscount}">
                        {item.sDiscount}
                    </td>

                    <td class="col col-total"
                        data-th="Total"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{item.Total}">
                        {item.Total} €
                    </td>

                    <td class="col col-state" data-th="Estado" >
                        <select class="form-control"
                                data-url="{Path}/Requests/SetState"
                                data-id="{item.Id}"
                                data-selected="{item.WorkFlow}"
                                onchange="updateRequestState(this);">
                            <option value="-1" >Pendiente</option>
                            <!--Workflow-->
                            <option value="{item.Id}" >{item.Name}</option>
                            <!--Workflow-->
                        </select>
                    </td>

                </tr>
                <!--Entities-->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
            </tfoot>
        </table>

        <!-- Resultado de la operación -->
        <div class="container">
            <div class="alert alert-dismissible {eResultClass} hide"
                data-class="{eResultClass}" role="alert">
                <button type="button" class="close"
                       data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span></button>
                <p id="result" class="help-block">{eResult}</p>
            </div>
        </div>
    </div>
</div>

<div id="resultados" class="container"></div>

<script type="text/javascript" >

    function setTable(){

        var language = {
           "emptyTable":     "No hay pedidos",
           "info":           "Cargados del _START_ al _END_ de _TOTAL_ pedidos",
           "infoEmpty":      "0 de 0 de un total de 0 pedidos",
           "infoFiltered":   "(filtrados de un total de _MAX_ pedidos)",
           "infoPostFix":    "",
           "thousands":      ",",
           "lengthMenu":     "Ver   _MENU_ pedidos por página",
           "loadingRecords": "Cargando...",
           "processing":     "Procesando...",
           "search":         "Buscar:  ",
           "zeroRecords":    "La búsqueda no tiene resultados",
           "paginate": {
               "first":      "Primero",
               "last":       "Último",
               "next":       ">>",
               "previous":   "<<"
           },
           "aria": {
               "sortAscending":  ": activate to sort column ascending",
               "sortDescending": ": activate to sort column descending"
           }
       };
    }

    function updateRequestState(obj){
       if($(obj).val() !== "-1"){
           $.post($(obj).data("url"),
               { Id:$(obj).data("id"), State: $(obj).val()},
               function(data){
                   window.location = window.location;
           });
       }
    }

    $(function() {
       setTable();
    });

</script>
