<?xml version="1.0"?>
<application>
    <references>
        <!-- interfaces -->
        <reference name="IDataAccessObject" path="interfaces/IDataAccessObject.php" />
        <reference name="IHttpHandler" path="interfaces/IHttpHandler.php" />
        <reference name="IHttpModule" path="interfaces/IHttpModule.php" />
        <reference name="ILogManager" path="interfaces/ILogManager.php" />
        <reference name="INotificator" path="interfaces/INotificator.php" />
        <reference name="ISecurity" path="interfaces/ISecurity.php" />
        <reference name="IValidatorClient" path="interfaces/IValidatorClient.php" />
        <!-- scripts -->
        <reference name="scripts.common" path="scripts/scripts.common.php" />
        <!-- components -->
        <reference name="ConfigurationManagerException"
                   path="components/configuration/ConfigurationManagerException.php" />
        <reference name="ConfigurationManager"
                   path="components/configuration/ConfigurationManager.php" />
        <reference name="PasswordFactoryException"
                   path="components/crypto/PasswordFactoryException.php" />
        <reference name="PasswordFactory" path="components/crypto/PasswordFactory.php" />
        <reference name="InjectorException" path="components/IOC/InjectorException.php" />
        <reference name="Injector" path="components/IOC/Injector.php" />

        <reference name="LogManager" path="components/Log/LogManager.php" />

        <reference name="BaseException" path="components/exception/BaseException.php" />
        <reference name="AjaxException" path="components/exception/AjaxException.php" />
        <reference name="ArgumentException"
                   path="components/exception/ArgumentException.php" />
        <reference name="NotImplementedException"
                   path="components/exception/NotImplementedException.php" />
        <reference name="ProjectException"
                   path="components/exception/ProjectException.php" />
        <reference name="ResourceNotFoundException"
                   path="components/exception/ResourceNotFoundException.php" />
        <reference name="SqlConnectionException"
                   path="components/exception/SqlConnectionException.php" />
        <reference name="SqlException" path="components/exception/SqlException.php" />
        <reference name="UnAuthenticateException"
                   path="components/exception/UnAuthenticateException.php" />
        <reference name="UnAuthorizeException"
                   path="components/exception/UnAuthorizeException.php" />
        <reference name="UrlException" path="components/exception/UrlException.php" />

        <reference name="FileManagerException" path="components/IO/FileManagerException.php" />
        <reference name="FileManager" path="components/IO/FileManager.php" />
        <reference name="UploaderException" path="components/IO/UploaderException.php" />
        <reference name="Uploader" path="components/IO/Uploader.php" />

        <reference name="HttpModule" path="components/web/HttpModule.php" />
        <reference name="SaasHttpModule" path="components/web/SaasHttpModule.php" />
        <reference name="HttpHandler" path="components/web/HttpHandler.php" />
        <reference name="SaasHttpHandler" path="components/web/SaasHttpHandler.php" />
        <reference name="ItemError" path="components/web/ItemError.php" />
        <reference name="SelectControlItem" path="components/web/SelectControlItem.php" />
        <reference name="JsonResultDTO" path="components/web/JsonResultDTO.php" />

        <reference name="StmtClientException"
                   path="components/Stmt/StmtClientException.php" />
        <reference name="StmtClientExecuteException"
                   path="components/Stmt/StmtClientExecuteException.php" />
        <reference name="ValidatorClient"
                   path="components/Stmt/ValidatorClient.php" />
        <reference name="StmtClient"
                   path="components/Stmt/StmtClient.php" />
        <reference name="StmtBaseDAO"
                   path="components/Stmt/StmtBaseDAO.php" />

        <reference name="UserUtilities" path="components/utils/UserUtilities.php" />

        <reference name="MailNotificatorException"
                   path="components/notifications/MailNotificatorException.php" />
        <reference name="MailNotificator"
                   path="components/notifications/MailNotificator.php" />
        <reference name="NotificatorException"
                   path="components/notifications/NotificatorException.php" />
        <reference name="Notificator"
                   path="components/notifications/Notificator.php" />
        <reference name="NotificatorDBException"
                   path="components/notifications/NotificatorDBException.php" />
        <reference name="NotificatorDB"
                   path="components/notifications/NotificatorDB.php" />

        <reference name="Controller" path="components/mvc/controller/Controller.php" />
        <reference name="SaasController" path="components/mvc/controller/SaasController.php" />
        <reference name="Model" path="components/mvc/model/Model.php" />
        <reference name="SaasModel" path="components/mvc/model/SaasModel.php" />

        <reference name="Security" path="components/security/Security.php" />
        <reference name="SaasSecurity" path="components/security/SaasSecurity.php" />


    </references>
</application>
