<table class="table table-striped table-bordered rwd-table" >
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Ruta</th>
			<th>Fecha</th>
			<th>
				<a class="btn btn-primary btn-xs"
					 data-toggle="modal"
						data-target="#modalProject"
						onclick="clearProjectData();"
					 title="Crear nuevo Proyecto" >Nuevo</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<!--Entities-->
		<tr class="rowdata visible-row">
			<td data-th="#" >{item.Id}</td>
			<td data-th="Nombre" title="{item.TitleName}" >{item.Name}</td>
			<td data-th="Descripción" title="{item.Title}">{item.Description}</td>
			<td data-th="Ruta">/{item.Path}</td>
			<td data-th="Fecha">{item.Date}</td>
			<td data-th="">
				<a class="btn btn-primary btn-xs"
					data-id="{item.Id}"
					data-name="{item.TitleName}"
					data-desc="{item.Title}"
					data-path="{item.Path}"
					data-date="{item.Date}"
					data-toggle="modal"
					data-target="#modalProject"
					onclick="setProjectData(this);"
					title="Editar" >
					<span class="glyphicon glyphicon-pencil"></span>
				</a>

				<a href="{Path}/Project/Users/{item.Id}"
					class="btn btn-primary btn-xs"
					title="Usuarios" >
					<span class="glyphicon glyphicon-user"></span>
				</a>

				<a href="{Path}/Project/Services/{item.Id}"
					class="btn btn-primary btn-xs"
					title="Servicios" >
					<span class="glyphicon glyphicon-list-alt"></span>
				</a>

				<a class="btn btn-danger btn-xs"
						title="Eliminar"
						data-toggle="modal"
						data-target="#modal"
						data-title="Eliminar"
						data-msg="¿Desea eliminar el proyecto?"
						data-id="{item.Id}"
						data-selector="#btnDelete"
						data-url="{Path}/Project/Delete/"
						onclick="setDataModal(this);" >
					<span class="glyphicon glyphicon-remove" ></span>
				</a>
			</td>
		</tr>
		<!--Entities-->
	</tbody>
</table>
