<!--Layout={_layout.html}-->

<input type="hidden" id="offersShare" value='{OffersShare}' />

<div class="container">

    <!-- cabecera de sección-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>
                <a href="{Path}/Offers/Index">Ofertas</a>
                | Cuota de la oferta <small>{Entity.Title}</small>
            </h2>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped" >
            <thead>
                <tr>
                    <th>Franja horaria</th>
                    <!--DaysH-->
                    <th>{item.Name}</th>
                    <!--DaysH-->
                </tr>
            </thead>
            <tbody>
                <!--Slots-->
                <tr data-id="{item.Id}" data-days='{item.Days}' class="tr_turno">
                    <td>{item.Name}</td>
                    <!--Days-->
                    <td>
                        <input type="number" title="cuota" class="form-control cuota"
                               min="0" step="1" max="1000" data-offer="{Entity.Id}"
                               data-slot="{item.Id}" data-dow="{item.DayOfWeek}"
                               onchange="setShare(this)"/>
                    </td>
                    <!--Days-->
                </tr>
                <!--Slots-->
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">

    function configurarCuotas(){
        try{
            var items = $.parseJSON($("#offersShare").val());
            $.each($(items), function(i,o){
                var controls = $("input.cuota").filter(function(j,k){
                   return $(k).data("dow") === o.DayOfWeek
                           && $(k).data("slot") === o.Slot
                           && $(k).data("offer") === o.Offer;
                });
                $(controls).val(o.Share);
            });
        }
        catch(err){

        }
    }

    /**
     * Proceso de validación de la cuota asignada
     * @param {Object} obj Referencia al control
     * @returns {Boolean} Resultado de la validación
     */
    function validarShare(obj){
        var min = parseInt($(obj).attr("min"));
        var max = parseInt($(obj).attr("max"));
        // Parsear el valor actual para validarlo.
        var newValue = parseInt($(obj).val());

        // Validación de los parámetros
        if( isNaN(newValue) || newValue < min || newValue > max  ){
            // Obtener valor anterior
            var oldValue = obj.defaultValue;
            // Setear el valor anterior
            $(obj).val(oldValue);
            // Establecer el foco en la caja de texto
            $(obj).focus();

            return false;
        }
        return true;
    }

    /**
     * Proceso de rollback si hay un error en la actualización
     * @param {Object} obj Referencia al control
     * @returns {Void}
     */
    function rollbackShare(obj){
        var oldValue = obj.defaultValue;
        $(obj).val(oldValue);
    }

    /**
     * Proceso de actualización de la cuota de la oferta
     * @param {type} obj Referencia al control
     * @returns {Void}
     */
    function setShare(obj){
        if(validarShare(obj) === true){
            var url = $("#current_path").val() + "/Offers/SetShare";
            $.post(url, {
                Offer:$(obj).data("offer")
                ,DayOfWeek:$(obj).data("dow")
                ,Slot:$(obj).data("slot")
                ,Turn:null
                ,Share:$(obj).val()
                }, function(data){
                if(data.Error !== false){
                    rollbackShare(obj);
                }
            });
        }
    }

    // Evento de carga inicial
    $(function(){
        // configurar valores
        configurarCuotas();
    });

</script>
