<?xml version="1.0"?>
<application>

    <settings>
        <add key="configFile" value="config.xml" />
        <add key="connectionString" value="conStr-local" />
        <add key="tipo-recordatorio" value="recordatorio-resbooking" />
    </settings>

    <connectionStrings>
        <connectionString
            name="conStr-local"
            server="localhost"
            user="root"
            password="BZX55C4v5"
            scheme="db500249808"
            filename="database.xml" />
    </connectionStrings>

    <references>
    </references>

    <interfaces>
        <interface name="ILogManager" mapTo="LogManager" src=" " />
        <interface name="IDataAccessObject" mapTo="StmtBaseDAO" src=" " />
        <interface name="IValidatorClient" mapTo="ValidatorClient" src=" " />
    </interfaces>

</application>
