<!--Layout={_layout.html}-->

<!-- Contenedor principal -->
<div class="container">
    <!-- cabecera -->
    <div class="row">
        <div class="col-lg-6">
           <h2>Descuentos</h2>
        </div>
        <div id="control" class="col-lg-6">
            <h2>
                <a href="#" data-target="#frm-edicion"
                   title="Crear un nuevo descuento para los pedidos"
                   data-toggle="modal" onclick="newDiscount(this);"
                   class="btn btn-primary" >+ Nuevo Descuento</a>
            </h2>
        </div>
    </div>
    <!-- Tabla de categorías -->
    <div class="table-responsive">

        <table class="table table-bordered table-striped">
            <!-- cabecera de la tabla -->
            <thead>
                <tr>
                    <th class="hide">#</th>
                    <th>Descuento (%)</th>
                    <th>Mínimo (€)</th>
                    <th>Máximo (€)</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th></th>
                </tr>
            </thead>
            <!-- cuerpo de la tabla -->
            <tbody>
                <!--Entities-->
                <tr>
                    <td class="hide">{item.Id}</td>
                    <td>{item.Value}%</td>
                    <td>{item.Min}€</td>
                    <td>{item.Max}€</td>
                    <td>{item.sStart}</td>
                    <td>{item.sEnd}</td>

                    <td class="col col-control" >
                        <a href="#"
                           data-id="{item.Id}"
                           data-value="{item.Value}"
                           data-minvalue="{item.Min}"
                           data-maxvalue="{item.Max}"
                           data-start="{item.Start}"
                           data-end="{item.End}"
                           data-config='{item.Configuration}'
                           data-target="#frm-edicion"
                           data-toggle="modal"
                           title="Editar Descuento"
                           onclick="editDiscount(this);"
                           class="btn btn-primary btn-xs" >
                           <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a href="{Path}/Discounts/Exceptions/{item.Id}"
                           class="btn btn-default btn-xs"
                           title="Configurar excepciones" >
                            <span class="glyphicon glyphicon-calendar"></span>
                        </a>

                        <a class="btn btn-danger btn-xs"
                           data-url="{Path}/Discounts/Remove/{item.Id}"
                           data-target="#frm-eliminar"
                           data-toggle="modal"
                           title="Eliminar descuento"
                           onclick="deleteDiscount(this);">
                           <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                <!--Entities-->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">&nbsp;</td>
                </tr>
            </tfoot>
        </table>

        <input type="hidden" id="error" value="{Error}" />
    </div>

</div>

<!-- Resultado de la operación -->
<div class="container">
    <div class="alert alert-dismissible {eResultClass} hide"
        data-class="{eResultClass}" role="alert">
        <button type="button" class="close"
               data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span></button>
        <p class="help-block">{eResult}</p>
    </div>
</div>

<!-- Modal Edición descuento -->
<div class="modal fade" id="frm-edicion" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{Path}/Discounts/Save"
                  method="POST"
                  onsubmit="onSubmit(this);">

                <div class="modal-header titulo-modal-dialog-rb">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Cerrar</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Descuento</h4>
                </div>

                <div class="modal-body">

                    <input type="hidden" name="Id" value="{Entity.Id}" />

                    <input type="hidden" name="Configuration"
                           value='{Entity.Configuration}' />

                    <div class="form-group {eValueClass}">
                        <input type="number" step="any" name="Value" required="required"
                               class="form-control" value="{Entity.Value}"
                               placeholder="Valor del descuento" />
                        <p class="help-block"
                           data-msg="Introduzca el descuento que desea aplicar.">
                            Introduzca el descuento que desea aplicar. {eValue}
                        </p>
                    </div>

                    <div class="form-group {eMinValueClass}">
                        <input type="number" step="any" name="Min"
                               class="form-control" value="{Entity.Min}"
                               placeholder="Importe mínimo aplicable" />
                        <p class="help-block"
                           data-msg="Introduzca el importe mínimo del pedido para aplicar el descuento.">
                            Introduzca el importe mínimo del pedido para aplicar
                            el descuento. {eMinValue}
                        </p>
                    </div>

                    <div class="form-group {eMaxValueClass}">
                        <input type="number" step="any" name="Max"
                               class="form-control" value="{Entity.Max}"
                               placeholder="Importe máximo aplicable" />
                        <p class="help-block"
                           data-msg="Introduzca el importe máximo del pedido para aplicar el descuento.">
                            Introduzca el importe máximo del pedido para aplicar
                            el descuento. {eMaxValue}
                        </p>
                    </div>

                    <div class="form-group {eStartClass}">
                        <input type="text" name="Start"
                               data-value="{Entity.Start}"
                               class="form-control calendar"
                               placeholder="Fecha de inicio" />
                        <p class="help-block"
                           data-msg="Introduzca la fecha de inicio.">
                            Introduzca la fecha de inicio. {eStart}
                        </p>
                    </div>

                    <div class="form-group {eEndClass}">
                        <input type="text" name="End"
                               class="form-control calendar"
                               data-value="{Entity.End}"
                               placeholder="Fecha de fin" />
                        <p class="help-block"
                           data-msg="Introduzca la fecha de finalización.">
                            Introduzca la fecha de finalización. {eEnd}
                        </p>
                    </div>

                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Turnos</th>
                                    <!--DaysOfWeek-->
                                    <th class="day" data-id="{item.Id}">{item.ShortName}</th>
                                    <!--DaysOfWeek-->
                                </tr>
                            </thead>

                            <tbody>
                                <!--SlotsOfDelivery-->
                                <tr class="sof" data-id="{item.Id}">
                                    <td>{item.Name}</td>
                                </tr>
                                <!--SlotsOfDelivery-->
                            </tbody>

                        </table>
                    </div>

                    <div class="form-group {eFormResultClass}">
                        <p class="help-block" data-msg=" ">{eFormResult}</p>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">Cerrar</button>
                    <button type="submit"
                            class="btn btn-primary" >Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal Eliminar descuento -->
<div class="modal fade" id="frm-eliminar" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header titulo-modal-dialog-rb">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Eliminar Descuento</h4>
        </div>
        <div class="modal-body">
            <p>
                ¿Desea eliminar el descuento seleccionado?
            </p>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-default"
                    data-dismiss="modal">Cerrar</button>
            <a id="btnDelete"
               class="btn btn-danger">Eliminar</a>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript">

    function onSubmit(){

        var configs = getConfiguration();

        var sConfigs = JSON.stringify(configs);

        $("[name='Configuration']").val(sConfigs);

        $(".calendar").datepicker("option", "dateFormat", 'yy-mm-dd');

        return true;
    }

    function clearError(callback){
        $(".has-error").removeClass("has-error");
        $.each($(".help-block"),function(i,item){
           if($(item).data("msg") !== undefined
                   && $(item).data("msg") !== ""){
               $(item).text($(item).data("msg"));
           }
        });

        $(".checks-config")
                .prop("checked",false)
                .data("id","")
                .data("discounton","");

        if($.isFunction(callback)){
            callback();
        }
    }

    function newDiscount(obj){
        $("[name='Id']").val("");
        $("[name='Configuration']").val("[]");
        $("[name='Value']").val("");
        $("[name='Min']").val("");
        $("[name='Max']").val("");
        $("[name='Start']").val("");
        $("[name='End']").val("");
        clearError();
    }

    function editDiscount(obj){
        $(".calendar").datepicker("option", "minDate", new Date(1999, 10 - 1, 25));
        clearError(function(){
            $("[name='Id']").val($(obj).data("id"));
            $("[name='Configuration']").val($(obj).data("configuration"));
            $("[name='Value']").val($(obj).data("value"));
            $("[name='Min']").val($(obj).data("minvalue"));
            $("[name='Max']").val($(obj).data("maxvalue"));
            setCalendarDate($("[name='Start']"), $(obj).data("start"));
            setCalendarDate($("[name='End']"), $(obj).data("end"));
            setConfiguration(obj);
        });
    }

    function getDiscountOnConfiguration(obj){
        return {
          Id: $(obj).data("id"),
          DiscountOn : $(obj).data("discounton"),
          DayOfWeek: $(obj).data("dayofweek"),
          SlotOfDelivery : $(obj).data("slotofdelivery")
        };
    }

    function setConfiguration(obj){
        if(obj !== undefined){
            var configs = $(obj).data("config");
            $.each(configs, function(i,o){
                var id = "#chk_" + o.DayOfWeek + "_" + o.SlotOfDelivery;
                $(id).prop("checked", true)
                        .data("id",o.Id)
                        .data("discounton",o.DiscountOn);
            });
        }
        else{
            var sConfigs = $("[name='Configuration']").val();
            if(sConfigs !== undefined && sConfigs !== ""){
                var configs = $.parseJSON(sConfigs);
                $.each(configs, function(i,o){
                    var id = "#chk_" + o.DayOfWeek + "_" + o.SlotOfDelivery;
                    $(id).prop("checked", true)
                            .data("id",o.Id)
                            .data("discounton",o.DiscountOn);
                });
            }
        }
    }

    function getConfiguration(){
        var configs = new Array();
        $.each($(".checks-config"), function(i,o){
            if($(o).is(":checked")){
                configs.push(getDiscountOnConfiguration(o));
            }
        });
        return configs;
    }

    function setTableConfiguration(){

        var days = new Array();

        $.each($(".day"), function(i,o){
           days.push($(o).data("id"));
        });

        $.each($(".sof"), function(i,o){
            $.each($(days), function(ind, d){
                var id = "chk_" + d + "_" + $(o).data("id");
                var check = $("<input />")
                        .attr("id", id)
                        .addClass("checks-config")
                        .attr("type", "checkbox")
                        .attr("data-id", 0)
                        .attr("data-discounton", 0)
                        .attr("data-dayofweek", d)
                        .attr("data-slotofdelivery", $(o).data("id"));

                $("tr[data-id='" + $(o).data("id") + "']")
                        .append($("<td />").append(check));
            });
        });
    }

    function deleteDiscount(obj){
        $("#btnDelete").attr("href", $(obj).data("url"));
    }

    $(function(){

        setTableConfiguration();

        if($("#error").val()==="1"){

            setConfiguration();

            $("#frm-edicion").modal("show");
        }

        $(".calendar").datepicker("option", "minDate", new Date(1999, 10 - 1, 25));
    });

</script>
