/*		Presentación Layout			*/

/*		Cabecera de menus de navegación		*/
.header{	text-align: right; }
.login-menu {}
.login-menu a {}
.login-menu span {}
.login-form { width: 350px; }
.login-form-submit { margin: 20px 0px 0px 0px; }
