<!--Layout={_layout.html}-->

<script type="text/javascript">
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<script type="text/javascript" >(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

	<h1>{Title}</h1>

	<div class="row">
		<div class="col-lg-6">
			<h4>{Description}</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6"><p>{Content}</p></div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div id="social">
				<div id="fb-root"></div>
				<!-- fb-like -->
				<div class="fb-like"
					data-href="{Path}/{Link}"
					data-layout="standard"
					data-action="like"
					data-show-faces="true"
					data-share="true"></div>
				<!-- twitter -->
				<a href="https://twitter.com/share"
					class="twitter-share-button"
					data-related="jasoncosta"
					data-lang="en"
					data-size="large"
					data-count="none">Tweet</a>
			</div>
		</div>
	</div>
</div>

<br />
