<?xml version="1.0"?>
<application>

    <settings>
        <add key="configFile" value="config.xml" />
        <add key="connectionString" value="conStr-local" />
        <add key="mailSubject" value="reserva-resbooking" />
        <add key="mailCancel" value="cancelar-resbooking" />
    </settings>

    <passwordfactory>
        <alphabet value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890" />
        <minlength value="8" />
        <maxlength value="20" />
        <default value="12" />
    </passwordfactory>

    <connectionStrings>
        <connectionString
            name="conStr-local"
            server="localhost"
            user="root"
            password="BZX55C4v5"
            scheme="db500249808"
            filename="database.xml" />
    </connectionStrings>

    <references>

    </references>

    <interfaces>
        <interface name="IHttpModule" mapTo="SaasHttpModule"
                   src="../../references/componentes/Web/SaasHttpModule.php" />
        <interface name="IHttpHandler" mapTo="HttpHandler"
                   src="../../references/componentes/Web/HttpHandler.php" />
        <interface name="ISecurity" mapTo="SaasSecurity"
                   src="../../references/componentes/Seguridad/SaasSecurity.php" />
        <interface name="INotificator" mapTo="MailNotificator"
                   src="../../references/componentes/General/MailNotificator.php" />
        <interface name="ILogManager" mapTo="LogManager"
                   src="../../references/componentes/General/LogManager.php" />
        <interface name="IDataAccessObject" mapTo="StmtBaseDAO"
                   src="../../references/componentes/DAO/StmtBaseDAO.php" />
        <interface name="IValidatorClient" mapTo="ValidatorClient"
                   src="../../references/componentes/DAO/ValidatorClient.php" />
    </interfaces>

</application>
