<div>
    <p>
        {{model->name}}
    </p>
    <p>
        {{model->description}}
    </p>
    {{#if model->isBranch():}}
    <p>
        Use a method expression
    </p>
    {{#endif:}}
    {{#if !model->invertBranch():}}
    <p>
        Invert method expression
    </p>
    {{#endif:}}
    {{#if model->isBooleanProperty:}}
    <p>
        Use a boolean property
    </p>
    {{#endif:}}
    {{#if isProperty:}}
    <p>
        Use direct property
    </p>
    {{#endif:}}
    {{#if hasItems:}}
    <div>
        <p>Show if items</p>
        <ul>
            {{#for item in items:}}
            <li>{{item}}</li>
            {{#endfor items:}}
        </ul>
    </div>
    {{#endif:}}
</div>
