<div>
    <p>
        Peter Parker
    </p>
    <p>
        Friendly neighborhood Spider
    </p>
    <p>
        Use a method expression
    </p>
    <p>
        Invert method expression
    </p>
    <p>
        Use a boolean property
    </p>
    <p>
        Use direct property
    </p>
    <div>
        <p>Show if items</p>
        <ul>
            <li>option 1</li>
            <li>option 2</li>
            <li>option 3</li>
        </ul>
    </div>
    <p>
        Use not null property
    </p>
    <p>
        Use of array property (key-value): My Value
    </p>
</div>
