<section>
    <header>
        <h1>Transactions</view>
    </header>
    <article>
        <h2>Customer Details</h2>
        <ul>
            <li>Peter Parker</li>
            <li>123.456.789-00</li>
            <li>(11) 98765-4321</li>
        </ul>
        <address>
            <h3>Address</h3>
            <p>Elm Street, 123</p>
            <p>Springwood</p>
            <p>Ohio</p>
        </address>
        <h3>Transactions</h3>
        <ul>
            <li>(+2025-01-02T12:01:02+00:00) 123.45€ | approved</li>
            <li>(+2025-01-03T12:01:02+00:00) 67.89€ | declined</li>
            <li>(+2025-01-04T12:01:02+00:00) 67.89€ | declined</li>
            <li>(+2025-01-05T12:01:02+00:00) 167.89€ | approved</li>
        </ul>
    </article>
    <footer>
        <p>
            Total amount: 1234.56<br>
            Updated at: +2025-01-01T12:01:02+00:00
        </p>
    </footer>
</section>
