<!DOCTYPE html>
<html>
    <head>
        <title>Layout page title</title>
    </head>
    <body>
        <header>
            <h1>Layout Test</h1>
        </header>
        <main>
            <section>
                <header>
                    <h1>View with layout</h1>
                </header>
                <article>
                    <ol>
                        <li>Name: Peter Parker</li>
                        <li>Age: 25</li>
                        <li>Height: 1.75</li>
                    </ol>
                </article>
                <footer>
                    <p>Footer content</p>
                </footer>
            </section>
        </main>
        <footer>
            <p>Footer content</p>
        </footer>
    </body>
</html>
