<!--Layout={_layout.html}-->
<script type="text/javascript" src="{Resources}/scripts/js-core/jquery.projects.js" ></script>

<div class="container">
	<h3>Servicios - {Entity.Name}</h3>
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Plataforma</th>
				</tr>
			</thead>
			<tbody>
				<!--Services-->
				<tr>
					<td>
						<input type="checkbox"
							data-project="{Entity.Id}"
							data-service="{item.Id}"
							data-url="{Path}/Project/"
							onchange="setServiceProject(this);"
							name="users" />
					</td>
					<td>{item.Name}</td>
					<td>{item.Description}</td>
					<td>{item.Platform}</td>
				</tr>
				<!--Services-->
			</tbody>
		</table>
	</div>
</div>

<input type="hidden" id="servicesproject" value='{jsonServices}' />
