{{#layout layout:}}

<form action="/accounts/reset-password-challenge" method="post" class="form">
    <header>
        <h2>{{accounts.reset-password-challenge.form.title}}</h2>
    </header>

    {{#if errorSummary:}}
    <section role="alert" aria-live="assertive" class="error-summary" tabindex="-1">
        <h3>{{accounts.reset-password-challenge.form.error.summary}}</h3>
        <ul>
            {{#for entry in errorSummary:}}
            <li>
                <a href="#{{entry->field}}">{{entry->message}}</a>
            </li>
            {{#endfor errorSummary:}}
        </ul>
    </section>
    {{#endif errorSummary:}}

    <input type="hidden" name="token" value="{{token}}" />

    <div class="form-control">
        <label for="newPassword">
            {{accounts.reset-password-challenge.form.newPassword.label}}
        </label>
        <input
            aria-describedby="newPassword-help"
            autocomplete="off"
            id="newPassword"
            name="newPassword"
            placeholder="{{accounts.reset-password-challenge.form.newPassword.placeholder}}"
            required
            type="password"
            {{#if errors->newPassword:}}aria-invalid="true"{{#endif errors->newPassword:}}
        />
        <p>
            <small id="newPassword-help">{{accounts.reset-password-challenge.form.newPassword.help}}</small>
        </p>
    </div>

    <div class="form-control">
        <button type="submit" class="primary-button">
            {{accounts.reset-password-challenge.form.submit}}
        </button>
    </div>
    <footer>
        <p>
            {{accounts.reset-password-challenge.form.sign-in}}
            <a href="/accounts/sign-in">{{accounts.reset-password-challenge.form.sign-in.link}}</a>
        </p>
        <p>
            {{accounts.reset-password-challenge.form.no-account}}
            <a href="/accounts/sign-up">{{accounts.reset-password-challenge.form.sign-up}}</a>
        </p>
    </footer>
</form>
