{{#layout layout:}}

<form action="/accounts/reset-password" method="post" class="form">
    <header>
        <h2>{{accounts.reset-password.form.title}}</h2>
    </header>

    {{#if hasSucceeded:}}
    <section role="alert" aria-live="assertive" class="success-message" tabindex="-1">
        <h3>{{accounts.reset-password.form.success.title}}</h3>
        <p>{{accounts.reset-password.form.success.message}}</p>
    </section>
    {{#endif hasSucceeded:}}

    {{#if errorSummary:}}
    <section role="alert" aria-live="assertive" class="error-summary" tabindex="-1">
        <h3>{{accounts.reset-password.form.error.summary}}</h3>
        <ul>
            {{#for entry in errorSummary:}}
            <li>
                <a href="#{{entry->field}}">{{entry->message}}</a>
            </li>
            {{#endfor errorSummary:}}
        </ul>
    </section>
    {{#endif errorSummary:}}

    <div class="form-control">
        <label for="username">
            {{accounts.reset-password.form.username.label}}
        </label>
        <input
            aria-describedby="username-help"
            autocomplete="off"
            id="username"
            name="username"
            placeholder="{{accounts.reset-password.form.username.placeholder}}"
            required
            type="email"
            {{#if errors->username:}}aria-invalid="true"{{#endif errors->username:}}
        />
        <p>
            <small id="username-help">{{accounts.reset-password.form.username.help}}</small>
        </p>
    </div>
    <div class="form-control">
        <button type="submit" class="primary-button">
            {{accounts.reset-password.form.submit}}
        </button>
    </div>
    <footer>
        <p>
            {{accounts.reset-password.form.sign-in}}
            <a href="/accounts/sign-in">{{accounts.reset-password.form.sign-in.link}}</a>
        </p>
        <p>
            {{accounts.reset-password.form.no-account}}
            <a href="/accounts/sign-up">{{accounts.reset-password.form.sign-up}}</a>
        </p>
    </footer>
</form>
