{{#layout layout:}}
<section class="section">
    <nav class="table-nav">
        <a href="/places/create" class="primary-button">
            {{places.new}}
        </a>
    </nav>

    {{#if hasPlaces:}}
    <table class="table">
        <thead>
            <tr>
                <th>{{places.header.name}}</th>
                <th>{{places.header.capacity}}</th>
                <th>{{places.header.actions}}</th>
            </tr>
        </thead>
        <tbody>
            {{#for place in places:}}
            <tr>
                <td>{{place->name}}</td>
                <td>{{place->capacity}}</td>
                <td class="control-group">
                    <a href="/places/{{place->id}}">{{places.edit}}</a>
                    <form method="post" action="/places/{{place->id}}/delete" style="display: inline;">
                        <button type="submit">{{places.delete}}</button>
                    </form>
                </td>
            </tr>
            {{#endfor places:}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    {{#endif hasPlaces:}}

    {{#if !hasPlaces:}}
    <article class="card">
        <header>
            <h3>{{places.no_found}}</h3>
        </header>
        <p>
            {{places.no_found_description}}
        </p>
    </article>
    {{#endif !hasPlaces:}}
</section>
