<!--Layout={_layout.html}-->

<script type="text/javascript" src="{Resources}/scripts/js-plugins/jquery.base64.js" ></script>
<script type="text/javascript" src="{Resources}/scripts/js-core/jquery.notifications.js" ></script>

<div class="container">

	<form action="{Path}/Notifications/Save" method="post" role="form" >

		<input type="hidden" name="Id" value="0" />

		<div class="row">
			<div class="col-md-5">
				<h3>Configuración de notificaciones</h3>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label>Tipología</label>
					<select name="Subject" required="required" class="form-control">
						<!--Types-->
						<option value="{item.Name}">{item.Name}</option>
						<!--Types-->
					</select>
					<p class="help-block">Seleccione el tipo de notificación</p>
				</div>

				<div class="form-group">
					<label>Proyecto</label>
					<select name="Project"
						class="form-control"
						required="required" >
						<!--Projects-->
						<option value="{item.Id}">{item.Name}</item>
						<!--Projects-->
					</select>
					<p class="help-block">Indique el proyecto al que pertenece.</p>
				</div>

				<div class="form-group">
					<label>Servicio</label>
					<select name="Service"
						class="form-control"
						required="required" >
						<!--Services-->
						<option value="{item.Id}">{item.Name}</item>
						<!--Services-->
					</select>
					<p class="help-block">Indique el servicio asociado.</p>
				</div>

				<div class="form-group">
					<label>Asunto</label>
					<input name="Text"
						type="text"
						class="form-control"
						maxlength="200"
						placeHolder="Administra y configura...."
						required="required" />
					<p class="help-block">Indique el asunto que encabezará la notificación.</p>
				</div>

				<div class="form-group">
					<label>Remitente</label>
					<input name="From"
						type="email"
						class="form-control"
						maxlength="100"
						placeHolder="info@mydomain.com"
						required="required" />
					<p class="help-block">Indique el remitente de las notificaciones.</p>
				</div>

				<div class="form-group">
					<label>Destinatario/s</label>
					<input name="To"
						type="text"
						class="form-control"
						maxlength="100"
						placeHolder="info@mydomain.com" />
					<p class="help-block">
						Indique el destinatario por defecto de las notificaciones.
						Puede tener varios destinatarios utilizando ";".
					</p>
				</div>
		</div>
		<div class="col-md-6">
				<div class="form-group">
					<label>Plantilla</label>
					<textarea id="Template"
						class="form-control"
						required="required"
						rows="30"></textarea>
					<input type="hidden" name="Template" />
					<p class="help-block">
						Introduzca la plantilla a utilizar en las notificaciones.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-9">
				<div class="form-group" >
					<button type="submit" class="btn btn-primary" role="button">Guardar</button>
					<a href="{Path}/Notifications/Index" class="btn btn-default" role="button">Cancelar</a>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- end container -->
