<!--Layout={_layout.html}-->
<div class="container">

	<h1>Selección de proyecto</h1>
	<div class="row">
		<div class="col-lg-4"><br /><br />
			<form action="{Path}/Home/SetProject" method="POST" role="form">
				<input type="hidden" id="projectId" value="{Project}" />
				<div class="form-group">
					<label>Proyecto</label>
					<select id="project" name="Id" required="required" class="form-control">
						<!--Projects-->
						<option value="{item.Id}">{item.Name}</option>
						<!--Projects-->
					</select>
					<p class="help-block">
						Seleccione uno de los proyectos en los que es editor
					</p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" role="button">Seleccionar</button>
				</div>
			</form>
		</div><!-- end col-lg-4 -->
		<div class="col-lg-1"></div>
		<div class="col-lg-6">
			<h3>Lorem ipsum ad hi..</h3>
			<p>
				Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan
				euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur,
				quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu,
				legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem,
				vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per.
				In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit
				veritus placerat per.
			</p>
		</div><!-- end col-lg-6 -->
	</div><!-- end row -->
</div><!-- end container -->

<script type="text/javascript" >
	// Inicio del formulario
	$(function(){

		var project = $( "#projectId" ).val();

		var selector = ("#project option[value='{0}']").toString().replace("{0}", project);

		$(selector).attr( "selected" , "selected" );

	});
</script>
