<!--Layout={_layout.html}-->

<!-- Contenedor principal -->
<div class="container">
    <!-- cabecera -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Turnos de reparto</h2>
        </div>
        <div id="control" class="col-lg-6">
            <h2>
                <a href="#" data-target="#frm-edicion"
                   data-toggle="modal" onclick="newDeliveryTime(this);"
                   class="btn btn-primary" >+ Nuevo Turno</a>
            </h2>
        </div>
    </div>
    <!-- Tabla de turnos -->
    <div class="table-responsive">

        <table class="table table-bordered table-striped ">
            <!-- cabecera de la tabla -->
            <thead>
                <tr>
                    <th class="hide">#</th>
                    <th>Nombre</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Icono</th>
                    <th></th>
                </tr>
            </thead>
            <!-- cuerpo de la tabla -->
            <tbody>
                <!--Entities-->
                <tr>
                    <td class="hide">{item.Id}</td>
                    <td>{item.Name}</td>
                    <td>{item.StartT}</td>
                    <td>{item.EndT}</td>
                    <td>{item.IcoName}</td>

                    <td class="col col-control" >
                        <a href="#"
                           data-id="{item.Id}"
                           data-name="{item.Name}"
                           data-start="{item.Start}"
                           data-end="{item.End}"
                           data-iconame="{item.IcoName}"
                           data-target="#frm-edicion"
                           data-toggle="modal"
                           onclick="editDeliveryTime(this);"
                           class="btn btn-primary btn-xs" >
                           <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a class="btn btn-danger btn-xs"
                           data-url="{Path}/DeliveryTime/Delete/{item.Id}"
                           data-target="#frm-eliminar"
                           data-toggle="modal"
                           onclick="deleteDeliveryTime(this);">
                           <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                <!--Entities-->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
            </tfoot>
        </table>

        <input type="hidden" id="error" value="{Error}" />
    </div>

</div>

<!-- Resultado de la operación -->
<div class="container">
    <div class="alert alert-dismissible {eResultClass} hide"
        data-class="{eResultClass}" role="alert">
        <button type="button" class="close"
               data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span></button>
        <p class="help-block">{eResult}</p>
    </div>
</div>

<!-- Modal Edición descuento -->
<div class="modal fade" id="frm-edicion" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="{Path}/DeliveryTime/Save"
                  method="POST" >
                <div class="modal-header titulo-modal-dialog-rb">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Cerrar</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Turno</h4>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="Id" value="{Entity.Id}" />

                    <div class="form-group {eNameClass}">
                        <input type="text" name="Name" required="required"
                               class="form-control" value="{Entity.Name}"
                               placeholder="Nombre del turno" />
                        <p class="help-block"
                           data-msg="Introduzca el nombre del turno.">
                            Introduzca el nombre del turno. {eName}
                        </p>
                    </div>

                    <div class="form-group {eStartClass}">

                        <select name="Start" required="required"
                                data-selected="{Entity.Start}"
                                class="form-control"
                                placeholder="Hora de inicio">
                            <!--Hours-->
                            <option value="{item.Id}" >{item.Text}</option>
                            <!--Hours-->
                        </select>

                        <p class="help-block"
                           data-msg="Seleccione una hora de inicio. ">
                            Seleccione una hora de inicio. {eStart}
                        </p>
                    </div>

                    <div class="form-group {eEndClass}">

                        <select name="End" required="required"
                                data-selected="{Entity.End}"
                                class="form-control"
                                placeholder="Hora de fin">
                            <!--Hours-->
                            <option value="{item.Id}" >{item.Text}</option>
                            <!--Hours-->
                        </select>

                        <p class="help-block"
                           data-msg="Seleccione una hora de fin. ">
                            Seleccione una hora de fin. {eEnd}
                        </p>
                    </div>
                    <!--
                    <div class="form-group {eFormResultClass}">
                        <p class="help-block"
                           data-msg=" ">
                            {eFormResult}
                        </p>
                    </div>
                    -->
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">Cerrar</button>
                    <button type="submit"
                            class="btn btn-primary" >Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Eliminar turno -->
<div class="modal fade" id="frm-eliminar" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header titulo-modal-dialog-rb">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Eliminar turno</h4>
        </div>
        <div class="modal-body">
            <p>
                ¿Desea eliminar el turno seleccionado y
                todas las configuraciones asociadas?
            </p>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-default"
                    data-dismiss="modal">Cerrar</button>
            <a id="btnDelete"
               class="btn btn-danger">Eliminar</a>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{Resources}/js/deliverytime.js"></script>
