<!--Layout={_layout.html}-->


<input type="hidden" id="turns_share_array" value ='{TurnsShare}' />

<div class="container">

    <!-- cabecera de sección-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>
                Capacidad de los turnos
            </h2>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped" >
            <thead>
                <tr>
                    <!--DaysH-->
                    <th>{item.Name}</th>
                    <!--DaysH-->
                </tr>
            </thead>
            <tbody>
                <!--Turns-->
                <tr data-id="{item.Id}" class="tr_turno">
                    <!--Days-->
                    <td>
                        <span class="texto-turno">{item.Start}</span>
                        <input type="number" data-turn="{item.Id}" step="1"
                               data-dow="{item.DayOfWeek}" min="0" max="1000"
                               class="form-control cuota"
                               onchange="setTurnShare(this)"/>
                    </td>
                    <!--Days-->
                </tr>
                <!--Turns-->
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">

    function configurarCuotasTurnos(){
        try{
            var items = $.parseJSON($("#turns_share_array").val());
            $.each($(items), function(i,o){
                var controls = $("input.cuota").filter(function(j,k){
                   return $(k).data("dow") === o.DayOfWeek
                           && $(k).data("turn") === o.Turn;
                });
                $(controls).val(o.Share);
            });
        }
        catch(err){

        }
    }

    /**
     * Proceso de validación de la cuota asignada
     * @param {Object} obj Referencia al control
     * @returns {Boolean} Resultado de la validación
     */
    function validarTurnShare(obj){
        var min = parseInt($(obj).attr("min"));
        var max = parseInt($(obj).attr("max"));
        // Parsear el valor actual para validarlo.
        var newValue = parseInt($(obj).val());

        // Validación de los parámetros
        if( isNaN(newValue) || newValue < min || newValue > max  ){
            // Obtener valor anterior
            var oldValue = obj.defaultValue;
            // Setear el valor anterior
            $(obj).val(oldValue);
            // Establecer el foco en la caja de texto
            $(obj).focus();

            return false;
        }
        return true;
    }

    /**
     * Proceso de rollback si hay un error en la actualización
     * @param {Object} obj Referencia al control
     * @returns {Void}
     */
    function rollbackTurnShare(obj){
        var oldValue = obj.defaultValue;
        $(obj).val(oldValue);
    }

    /**
     * Proceso de actualización de la cuota de la oferta
     * @param {type} obj Referencia al control
     * @returns {Void}
     */
    function setTurnShare(obj){
        if(validarTurnShare(obj) === true){
            var url = $("#current_path").val() + "/Turns/SetShare";
            $.post(url, {
                DayOfWeek:$(obj).data("dow")
                ,Turn:$(obj).data("turn")
                ,Share:$(obj).val()
                }, function(data){
                if(data.Error !== false){
                    rollbackTurnShare(obj);
                }
            });
        }
    }

    // Evento de carga inicial
    $(function(){
        // configurar valores
        configurarCuotasTurnos();
    });
</script>
