<div id="prepedido-formulario" >
    <!--Entities-->
    <div class="form-group form-inline">
        <label>
            <input type="checkbox" name="{item.Id}" data-code="{item.Code}"
                   data-price="{item.Price}" data-name="{item.Name}"
                   data-id="{item.Id}" data-text="{item.Name}, {item.Price}"/>
            {item.Name}, {item.Price}
        </label>
        <input type="text" id="cnt_{item.Id}" placeholder="0" maxlength="2"
               class="form-control cantidad" /> Uds
        <p class="help-block">{item.Description}</p>
    </div>
    <!--Entities-->
</div>
