<!--Layout={_layout.html}-->

<script type="text/javascript">
 $(function(){
		$.each( $( ".gallery" ), function (index, item){
			var $path = $(item).data( "path" );
			var src = $(item).data( "content" ).toString().split(";");
			if(src != undefined && $.isArray(src)){
				$.each( $(src), function(i,img){
					if(img != "" && img != undefined){
						var div = $( "<div />" )
							.addClass( "col-xs-6 col-md-3" );
						var image = $( "<img />" )
							.addClass( "img-thumbnail img-responsive" )
							.attr( "src", $path + img );
						$(div).append(image);
						$(item).append(div);
					}
				});
			}
		});
	});
</script>

<div class="container">
	<h1>{Title}</h1>
	<h4>{Description}</h4>
	<!--Gallery-->
	<div class="row">
		<div class="col-lg-12">
			<p>
				<strong><em>{item.Title}</em></strong> {item.Description}. <a href="{Path}/{item.Link}" >{item.LinkText}</a>
			</p>
		</div>
	</div>
	<div class="row gallery"
			data-content="{item.Content}"
			data-path="{Resources}/content/images/">
	</div>
	<!--Gallery-->
</div>
<br />
