<!--Layout={_layout.html}-->

<script type="text/javascript">
$(function(){

	$( "form" ).on( "submit", function(){
		$( "input[name='Content']" ).val($.base64.encode($( "#Content" ).val().toString(), true));
	});


});
</script>

<div class="container">
	<form id="content-form"
		action="{Path}/Content/Save"
		method="POST"
		role="form" >

		<h2>Contenido</h2>

		<!-- Campos ocultos -->
		<input type="hidden" name="Id" value="{Entity.Id}" />
		<input type="hidden" name="Type" value="{Entity.Type}" />
		<input type="hidden" name="Draft" value="{Entity.Draft}" />
		<input type="hidden" name="Link" value="{Entity.Link}" />
		<input type="hidden" name="ExtLink" value="{Entity.ExtLink}" />
		<input type="hidden" id="Section" value="{Entity.Section}" />
		<input type="hidden" id="Template" value="{Entity.Template}" />
		<input type="hidden" name="Content" value="" />
		<!-- Campos ocultos -->

		<div class="row">

			<div class="col-lg-6">

				<div class="form-group">
					<label>Sección</label>
					<select name="Section"
						required="required"
						class="form-control">
						<!--Sections-->
						<option value="{item.Id}" >{item.Name}</option>
						<!--Sections-->
					</select>
					<p class="help-block">Selecciona la sección a la que pertenece el contenido</p>
				</div>

				<div class="form-group">
					<label>Plantilla</label>
					<select name="Template" required="required" class="form-control">
						<!--Templates-->
						<option value="{item.Name}" >{item.Name}</option>
						<!--Templates-->
					</select>
					<p class="help-block">Seleccione la plantilla a utilizar</p>
				</div>

				<div class="form-group">
					<label>Autor</label>
					<input type="text"
						name="Author"
						value="{Entity.Author}"
						required="required"
						maxlength="50"
						class="form-control" />
					<p class="help-block">Introduce el nombre del autor del contenido</p>
				</div>

				<div class="form-group">
					<label>Texto del enlace</label>
					<input type="text"
						id="LinkText"
						name="LinkText"
						value="{Entity.LinkText}"
						required="required"
						maxlength="50"
						class="form-control" />
					<p class="help-block">Introduce el texto del enlace</p>
				</div>

				<div class="form-group">
					<label>Enlace</label>
					<input id="Link"
						list="data-links"
						required="required"
						maxlength="50"
						class="form-control" >
					<datalist id="data-links">
						<!--DataLinks-->
						<option value="{item.Link}"></option>
						<!--DataLinks-->
					</datalist>

					<div class="checkbox">
						<label>
							<input type="checkbox" id="ExtLink" />¿ Es un enlace externo ?</label>
					</div>
				</div>

			</div><!-- end col-lg-6 -->

			<div class="col-lg-6">

				<div class="form-group">
					<label>Título</label>
					<input type="text"
						name="Title"
						value="{Entity.Title}"
						required="required"
						maxlength="20"
						class="form-control" />
					<p class="help-block">Define el título del contenido</p>
				</div>

				<div class="form-group">
					<label>Keywords</label>
					<textarea name="Keywords"
						required="required"
						maxlength="140"
						class="form-control"
						rows="4" >{Entity.Keywords}</textarea>
					<p class="help-block">Introduce un conjunto de palabras claves para el contenido</p>
				</div>

				<div class="form-group">
					<label>Descripción</label>
					<textarea name="Description"
						required="required"
						maxlength="140"
						class="form-control"
						rows="4" >{Entity.Description}</textarea>
					<p class="help-block">Introduce una breve descripción del contenido</p>
				</div>

		    <div class="form-group">
					<label>Contenido</label>
<!--					<div id="Content" required="required" class="form-control" contenteditable>
						{Entity.Content}
					</div>
		-->
					<textarea
						id="Content"
						required="required"
						class="form-control"
						rows="8" >{Entity.Content}</textarea>

		    </div><!-- end form-group -->

				<div class="form-group">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="Draft" checked="checked" />¿ Es Borrador ?</label>
					</div>
				</div>

			</div><!-- end col-lg-6 -->

		</div><!-- end row -->

		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<button type="submit" class="btn btn-primary" role="button" >Guardar</button>
					<a href="{Path}/Content/Index" class="btn btn-default" role="button">Cancelar</a>
				</div>
			</div><!-- end col-lg-12 -->
		</div><!-- end row -->

	</form>
</div>

<script type="text/javascript" src="{Resources}/scripts/js-plugins/jquery.base64.js" ></script>
<script type="text/javascript" src="{Resources}/scripts/js-lcms/jquery.editor.js" ></script>
