<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Takeaway</title>
        <!-- CSS de Bootstrap -->
        <link href="{Resources}/content/css/bootstrap.min.css" rel="stylesheet" media="screen" />

        <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" src="{Resources}/js/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/bootstrap.min.js"></script>
        <style type="text/css">
            img{
                margin:10% auto;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <img src="{Resources}/content/images/aviso_ico.png" alt="Oupss.."
                         class="img-responsive text-center" />
                    <p class="help-block ">
                        Disculpe las molestias, en estos momentos el sistema
                        no está disponible. Por favor, inténtelo de nuevo pasados
                        unos minutos. Gracias por su comprensión.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
