<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{Title}</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />

    <link href="{Resources}/content/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="{Resources}/content/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
    <link href="{Resources}/content/css/core-theme.css" rel="stylesheet" media="screen" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<script type="text/javascript" src="{Resources}/scripts/js-plugins/jquery-1.10.2.min.js" ></script>
		<script type="text/javascript" src="{Resources}/scripts/js-plugins/sha512.js" ></script>
		<script type="text/javascript" src="{Resources}/scripts/js-plugins/sha3.js" ></script>
		<script type="text/javascript" src="{Resources}/scripts/js-plugins/bootstrap.min.js" ></script>
		<script type="text/javascript" src="{Resources}/scripts/js-core/jquery.common.js" ></script>
	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{Path}/">{ Try-catch } Core</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<!--Menu-->
							<li id="{item.name}" ><a href="{Path}/{item.name}/{item.action}" title="{item.title}">{item.text}</a></li>
							<!--Menu-->
							<li id="Accounts" ><a id="Perfil" href="{Path}/Accounts/ChangePass" >Perfil</a></li>
							<li><a href="{Path}/Accounts/Logout" ><span class="glyphicon glyphicon-off"></span></a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</div>

			{BODY}

			<!-- ventana modal para eliminar-->
			<div id="modal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
							</button>
							<h4 id="modal-title" class="modal-title"></h4>
						</div>
						<div class="modal-body">
							<p id="modal-msg"></p>
						</div>
						<div class="modal-footer">
							<button type="button"
								class="btn btn-default"
								data-dismiss="modal" >Cancelar</button>
							<button type="button"
								id="btnDelete"
								class="btn btn-danger"
								onclick="navigateModal(this);" >Eliminar</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->


			<input type="hidden" id="path" value="{Path}" />
			<input type="hidden" id="resources" value="{Resources}" />
			<input type="hidden" id="menu-option" value="#{MenuActivo}" />
		</div>
		<div id="footer">
			<div class="container">
				<p class="text-muted credit">
					{ Try-Catch } wide ICT Solutions © Copyright 2014
					| <a href="{Path}/Home/Privacity">Política de privacidad</a>
				</p>
			</div>
		</div>
	</body>
</html>
