<?xml version="1.0"?>
<application>

    <settings>
        <add key="configFile" value="config.xml" />
        <add key="controllers" value="controllers.xml" />

        <add key="path" value="/resbooking/services/booking/Global.php?url=" />
        <add key="resources" value="/resbooking/services/booking" />
        <add key="connectionString" value="conStr-local" />
        <!-- ID's Estados bbdd -->
        <add key="reservado" value="1" />
        <add key="anulado" value="6" />
        <!-- ID's Estados bbdd -->
        <!-- Gestión de notificaciones -->
        <add key="mailTo" value="inet@try-catch.es" />
        <add key="mailSubject" value="reserva-resbooking" />
        <add key="mailCancel" value="cancelar-resbooking" />
        <add key="mailFrom" value="des.booking@try-catch.es" />

        <add key="qr-url" value="http://des-zapper.resbooking.es/index.php" />
        <add key="qr-path" value="zapper/" />

    </settings>

    <passwordfactory>
        <alphabet value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890" />
        <minlength value="8" />
        <maxlength value="20" />
        <default value="12" />
    </passwordfactory>

    <connectionStrings>

        <connectionString
            name="conStr-local"
            server="localhost"
            user="root"
            password="BZX55C4v5"
            scheme="db500249808"
            filename="database.xml" />

    </connectionStrings>

    <references>
        <reference name="ResbookingController"
                   path="controller/ResbookingController.php" />

        <reference name="ResbookingModel"
                   path="model/ResbookingModel.php" />

    </references>

    <interfaces>
        <interface name="IHttpModule" mapTo="SaasHttpModule" src=" " />
        <interface name="IHttpHandler" mapTo="HttpHandler" src=" " />
        <interface name="ISecurity" mapTo="SaasSecurity" src=" " />
        <interface name="INotificator" mapTo="MailNotificator" src=" " />
        <interface name="ILogManager" mapTo="LogManager" src=" " />
        <interface name="IDataAccessObject" mapTo="StmtBaseDAO" src=" " />
        <interface name="IValidatorClient" mapTo="ValidatorClient" src=" " />
    </interfaces>

</application>
