<!--Layout={_layout.html}-->

<script type="text/javascript" src="{Resources}/js/libs/sha512.js" ></script>
<script type="text/javascript" src="{Resources}/js/accounts.js?r={Random}" ></script>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form action="{Path}/Accounts/Change" method="post" role="form">
                <fieldset>

                    <h2>Modificación de contraseñas</h2>

                    <div class="form-group {ePassClass}">
                        <label>¿Cuál es tu contraseña actual?</label>
                        <input id="Pass" type="password"
                                placeholder="*********"
                                maxlength="50" class="form-control"
                                required="required" />
                        <input type="hidden" name="Pass" />
                        <p class="help-block">
                            Introduzca su contraseña actual. {ePass}
                        </p>
                    </div>

                    <div class="form-group {eNewPassClass}">
                        <label>Nueva contraseña</label>
                        <input id="NewPass" type="password"
                                placeholder="*********"
                                maxlength="50" class="form-control"
                                required="required" />
                        <input type="hidden" name="NewPass" />
                        <p class="help-block">
                            Introduzca su nueva contraseña. {eNewPass}
                        </p>
                    </div>

                    <div class="form-group {eReNewPassClass}">
                        <label>Repetir contraseña</label>
                        <input id="ReNewPass" type="password"
                                placeholder="*********"
                                maxlength="50" class="form-control"
                                required="required" />
                        <input type="hidden" name="ReNewPass" />
                        <p class="help-block">
                            Repita la nueva contraseña. {eReNewPass}
                        </p>
                    </div>

                    <div class="form-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary"
                                    role="button">Enviar</button>
                            <a href="{Path}/Home" class="btn btn-default"
                               role="button">Cancelar</a>
                        </div>
                    </div>

                    <br />

                    <div class="control-group {ResultCss} ?>">
                        <p class="help-block">{Result}</p>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
