<!--Layout={_layout.html}-->
<div id="content-index" class="container">

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
			        data-target=".navbar-ex1-collapse">
			  <span class="sr-only">Desplegar navegación</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Contenidos</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<form class="navbar-form navbar-left" role="search">
				<input type="hidden" id="section" value="{Section}" />
				<div class="form-group">
					<select name="section" class="form-control" >
					<!--Sections-->
					<option value="{item.Id}" >{item.Name}</option>
					<!--Sections-->
					</select>
				</div>
				<a href="{Path}/Content/Index"
					onclick="lnkCargaContenidos(this);"
					class="btn btn-primary"
					role="button"
					title="Buscar contenidos de la sección seleccionada" >Buscar en la sección</a>
			</form>

			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<select name="type" class="form-control">
						<!--Types-->
						<option value="{item.Id}" >{item.Name}</option>
						<!--Types-->
					</select>
				</div>
				<a href="{Path}/Content/Create"
					onclick="lnkCrearContenido(this);"
					title="Crear contenido del tipo seleccionado"
					class="btn btn-primary" role="button" >Nuevo contenido</a>
			</form>
		</div>
	</nav>

	<div class="table-responsive">

		<table class="table table-bordered table-striped" >
			<thead>
				<tr>
					<th>#</th>
					<th>Título</th>
					<th>Descripción</th>
					<th>Keywords</th>
					<th>Tipo</th>
					<th>Autor</th>
					<th>Es Borrador</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<!--Entities-->
				<tr>
					<td>{item.Id}</td>
					<td><input type="hidden" name="title" value="{item.Title}" /></td>
					<td><input type="hidden" name="description" value="{item.Description}" /></td>
					<td><input type="hidden" name="keywords" value="{item.Keywords}" /></td>
					<td><input type="hidden" name="type" value="{item.Type}" /></td>
					<td>{item.Author}</td>
					<td>
						<input type="checkbox" name="draft" disabled="disabled" data-draft="{item.Draft}" checked="checked" />
					</td>
					<td>
						<a href="{Path}/Content/Edit/{item.Id}"
						  title="Editar el contenido"
							class="btn btn-primary btn-sm"
							role="button">Editar</a>

						<a href="{Path}/Content/Delete/{item.Id}"
							title="Eliminar el contenido"
						  onclick="return confirm('¿Desea eliminar el contenido');"
							class="btn btn-default btn-sm"
							role="button" >Eliminar</a>
					</td>
				</tr>
				<!--Entities-->
			</tbody>
		</table>
	</div>

	<div class="error-container">
		<ul>
			<!--ErrorList-->
			<li>{item.Text}</li>
			<!--ErrorList-->
		</ul>
	</div>
</div>

<script type="text/javascript" src="{Resources}/scripts/js-lcms/jquery.content.js" ></script>
