<!--Layout={_layout.html}-->

<script type="text/javascript" src="{Resources}/js/offersevents.js?r={Random}" ></script>

<input type="hidden" id="events" value='{Events}' />
<input type="hidden" id="configs" value='{BaseLine}' />
<input type="hidden" id="week" value="{Current}" />
<input type="hidden" id="year" value="{CurrentYear}" />

<div class="container">
    <!-- cabecera de sección-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2>
                <a href="{Path}/Offers/Index">Ofertas</a> |
                Del {WeekNavDTO.FechaLunes} al {WeekNavDTO.FechaDomingo}
                <small>{Entity.Title}</small>
            </h2>
        </div>
        <div id="control" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h2 class="btn-group">
                <a href="{Path}/OffersEvents/Index/{Id}?week={WeekNavDTO.Prev}&year={WeekNavDTO.PrevYear}"
                   class="btn btn-primary"> << Anterior </a>
                <a href="{Path}/OffersEvents/Index/{Id}?week={WeekNavDTO.Current}&year={WeekNavDTO.CurrentYear}"
                   class="btn btn-default"> Semana {WeekNavDTO.Current} </a>
                <a href="{Path}/OffersEvents/Index/{Id}?week={WeekNavDTO.Next}&year={WeekNavDTO.NextYear}"
                   class="btn btn-primary"> Siguiente >> </a>
            </h2>
        </div>
    </div>

    <div class="table-responsive tabla-checks">
        <table id="tabla-bloqueos" class="table table-bordered">
            <thead>
                <tr>
                    <!--Days-->
                    <th>{item.Name}<span class="help-block">{item.sDate}</span></th>
                    <!--Days-->
                </tr>
            </thead>
            <tbody>
                <!--Turns-->
                <tr>
                    <!--DaysOfWeek-->
                    <td>
                        <span class="texto-turno">{item.Start}</span>
                        <span class="cool_checkbox">
                            <input id="chk_{item.Id}_{item.DayOfWeek}"
                                type="checkbox"
                                data-id="0"
                                data-conf="0"
                                data-offer="{Id}"
                                data-turn="{item.Id}"
                                data-dow="{item.DayOfWeek}"
                                data-week="{WeekNavDTO.Current}"
                                data-year="{WeekNavDTO.CurrentYear}"
                                data-date="{item.Date}"
                                onchange="setEvent(this);" />
                            <label for="chk_{item.Id}_{item.DayOfWeek}">
                                <span>|</span><span><span>/</span></span><span>O</span>
                            </label>
                        </span>
                    </td>
                    <!--DaysOfWeek-->
                </tr>
                <!--Turns-->
            </tbody>
        </table>
    </div>
</div>
