.menu-container{
margin-bottom : 5px;
height : 40px;
}

.menu{
display : none;
padding : 2px;
margin : 0px;
border : 1px solid #CCCCCC;
background-color : #F2F2F2;
vertical-align : top;
}

.menu li {
width : 32px;
height : 32px;
display : inline-block;
vertical-align : middle;
background-color : #FFFFFF;
background-position : center;
background-repeat : no-repeat;
background-size : 24px 24px;
border : 1px solid #CCCCCC;
cursor : pointer;
}

.menu li.selected{
border-color : #585858;
}

.menu li:hover {
box-shadow : 0px 0px 1px 0px #000000;
}

.img-menu{
display : none;
}

.common-menu{
display : inline-block;
}

.selected{

}

.img-selected{
border : 1px solid #DD0000;
}

.prev-img-selected{
border : 1px solid #5882FA;
}

.text-selected{
border : 1px solid #DD0000;
}


#addText {
background-image : url(../images/add-text.png);
}

#addImg {
background-image : url(../images/add-img.png);
}

.resize-button {
background-image : url(../images/resize.png);
}

.edit-button {
background-image : url(../images/edit-text.png);
}

.delete-button {
background-image : url(../images/delete-editor.png);
}

.move-button {
background-image : url(../images/move.png);
}

.end-button {
background-image : url(../images/tick.png);
}

.work-area{
width : 800px;
display : inline-block;
}

.tools-area{
width : 435px;
display : inline-block;
vertical-align:top;
}

.content-editable {
height : 600px;
vertical-align : top;
border : 1px solid #585858;
}

.content-editable img {
cursor : pointer;
width : 100px;
height : 100px;
}

.text-item{
border: 1px solid #D0D0aa;
}

.image-list {
padding-right : 5px;
height : 220px;
overflow-x : none;
overflow-y : auto;
border : 1px solid #CCCCCC;
}

.image-list img {
margin : 5px 0px 0px 5px;
width : 100px;
height : 100px;
}

.text-editor-container{
margin-top : 5px;
}

.text-editor-container textarea{
min-height : 230px;
}

.text-editor{
float: left;
width: 100%;
}

.text-editor img{
background-color:#FFFFFF;
}
