<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Resbooking</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" href="{Resources}/content/images/resb-ico.png" type="image/png" />
        <link rel="stylesheet prefetch" href="{Resources}/content/css/login.css" />
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{Resources}/js/libs/html5shiv.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{Resources}/js/libs/jquery.min.js"></script>
        <script type="text/javascript" src="{Resources}/js/libs/sha512.js"></script>
        <script type="text/javascript" src="{Resources}/js/login.js?r={Random}"></script>
    </head>

    <body>
        <input type="hidden" id="current_path" value="{Path}" />
        <input type="hidden" id="current_resource_path" value="{Resources}" />

        <div id="wrap" >
            <div class="container">
                <div id="login-form">
                    <h3>
                        <img src="{Resources}/content/images/logo-resBooking.png"
                             alt="Resbooking" />
                    </h3>

                    <fieldset>
                        <form id="form" action="" method="post" role="form">
                            <input type="email" id="username" name="username"
                                   required="required" placeholder="Email"/>
                            <input type="password" id="password" required="required"
                                   name="tp_password" placeholder="Password" />
                            <input type="hidden" name="password"  value="" />
                            <!--
                            <input type="hidden" name="hash" value="SHA512" />
                            -->
                            <input type="submit" value="Login" />

                            <p class="help" >
                                <label>
                                    <input type="checkbox" name="remember" checked="checked"/>
                                    ¿Recordar contraseña?
                                </label>
                                <br />
                                <a id="recovery-password" href="{Path}/Accounts/Recovery">
                                    Recuperar contraseña de acceso</a>
                                <br />
                                <span class="error">{eLogin}</span>
                            </p>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <div id="footer">
            <p>
                <a href="{Path}/Home/Privacity">Terminos y condiciones del servicio</a>
            </p>
        </div>
    </body>
</html>
