<?xml version="1.0"?>
<application>
    <references>

        <!-- Clases Base -->
        <reference name="BaseManagement"
                   path="lib/BaseManagement.php" />
        <reference name="BaseAggregate"
                   path="lib/BaseAggregate.php" />
        <reference name="BaseServices"
                   path="lib/BaseServices.php" />
        <reference name="BaseRepository"
                   path="lib/BaseRepository.php" />

        <!-- Capa de aplicación -->
        <reference name="IBookingManagement"
                   path="application/contracts/IBookingManagement.php" />
        <reference name="BookingManagement"
                   path="application/managements/BookingManagement.php" />

        <!-- Capa de infraestructura -->
        <reference name="IBookingRepository"
                   path="infrastructure/contracts/IBookingRepository.php" />
        <reference name="BookingRepository"
                   path="infrastructure/repositories/BookingRepository.php" />

        <!-- Capa de dominio -->

        <!-- servicios -->
        <reference name="IBookingServices"
                   path="domain/contracts/IBookingServices.php" />
        <reference name="BookingServices"
                   path="domain/services/BookingServices.php" />

        <!-- agregados -->
        <reference name="BookingAggregate"
                   path="domain/aggregates/BookingAggregate.php" />

        <!-- entidades -->
        <reference name="Block"
                   path="domain/entities/Block.php" />
        <reference name="Booking"
                   path="domain/entities/Booking.php" />
        <reference name="BookingBck"
                   path="domain/entities/BookingBck.php" />
        <reference name="BookingSource"
                   path="domain/entities/BookingSource.php" />
        <reference name="Client"
                   path="domain/entities/Client.php" />
        <reference name="Comment"
                   path="domain/entities/Comment.php" />
        <reference name="Configuration"
                   path="domain/entities/Configuration.php" />
        <reference name="ConfigurationService"
                   path="domain/entities/ConfigurationService.php" />
        <reference name="Day"
                   path="domain/entities/Day.php" />
        <reference name="Log"
                   path="domain/entities/Log.php" />
        <reference name="Offer"
                   path="domain/entities/Offer.php" />
        <reference name="OfferConfig"
                   path="domain/entities/OfferConfig.php" />
        <reference name="OfferEvent"
                   path="domain/entities/OfferEvent.php" />
        <reference name="OfferShare"
                   path="domain/entities/OfferShare.php" />
        <reference name="Place"
                   path="domain/entities/Place.php" />
        <reference name="Slot"
                   path="domain/entities/Slot.php" />
        <reference name="State"
                   path="domain/entities/State.php" />
        <reference name="Turn"
                   path="domain/entities/Turn.php" />
        <reference name="TurnShare"
                   path="domain/entities/TurnShare.php" />

        <!-- dtos -->
        <reference name="BlockDTO"
                   path="domain/dtos/BlockDTO.php" />
        <reference name="BookingDTO"
                   path="domain/dtos/BookingDTO.php" />
        <reference name="ClientDTO"
                   path="domain/dtos/ClientDTO.php" />
        <reference name="RequestDTO"
                   path="domain/dtos/RequestDTO.php" />
        <reference name="TurnDTO"
                   path="domain/dtos/TurnDTO.php" />
        <reference name="BookingNotificationDTO"
                   path="domain/dtos/BookingNotificationDTO.php" />

        <reference name="OfferShareDTO"
                   path="domain/dtos/OfferShareDTO.php" />
        <reference name="TurnShareDTO"
                   path="domain/dtos/TurnShareDTO.php" />

    </references>


</application>
