<!--Layout={_layout.html}-->
<script type="text/javascript" src="{Resources}/js/jquery.product.js" ></script>

<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <h3>Productos | Ficha de producto</h3>
        </div>
    </div>

    <form id="frmProduct" onsubmit="javascript:onSubmit();"
          action="{Path}/Products/Save" method="post">

        <input type="hidden" name="Page" value="{Page}" />
        <input type="hidden" name="Id" value="{Entity.Id}" />
        <input type="hidden" id="attr" name="Attr" value='{Entity.Attr}' />

        <!-- Nombre -->
        <div class="form-group {eNameClass}">
            <label>Nombre</label>
            <input type="hidden" name="Link" value="" />
            <input type="text" name="Name" required="required" maxlength="100"
                   class="form-control" value="{Entity.Name}" />
            <p class="help-block">Introduzca un nombre de producto. {eName}</p>
        </div>

        <!-- Descripción -->
        <div class="form-group {eDescClass}">
            <label>Descripción</label>
            <textarea name="Description" required="required"
                      class="form-control" maxlength="140">{Entity.Description}</textarea>
            <p class="help-block">
                Introduzca una breve descripción del producto (140 caracteres). {eDesc}
            </p>
        </div>

        <!-- Keywords -->
        <div class="form-group {eKeywordsClass}">
            <label>Keywords</label>
            <textarea name="Keywords" required="required"
                      class="form-control" maxlength="140">{Entity.Keywords}</textarea>
            <p class="help-block">
                Introduzca una colección de términos clave asociados al producto. {eKeywords}
            </p>
        </div>

        <!-- controles en línea -->
        <div class="form-inline">

            <!-- Categoría -->
            <label class="sr-only2">Categoría</label>
            <select name="Category" class="form-control" requried="required"
                    data-selected="{Entity.Category}" placeholder="Categoría"
                    onclick="javascript:onChange(this);">
                <!--Categories-->
                <option value="{item.Id}" data-code="{item.Code}"
                        data-xml='{item.Xml}' >
                    {item.Name}
                </option>
                <!--Categories-->
            </select>

            <!-- Referencia -->
            <label class="sr-only2">Referencia</label>
            <input type="text" name="Reference" required="required"
                   placeholder="Referencia" maxlength="10"
                   class="form-control {eReferenceClass}"
                   value="{Entity.Reference}" />

            <!-- Precio -->
            <label class="sr-only2">Precio</label>
            <input type="text" name="Price" required="required" maxlength="10"
                   placeholder="Precio" step="any" value="{Entity.Price}"
                   class="form-control {ePriceClass}" />

            <!-- Criterio de orden -->
            <label class="sr-only2">Orden</label>
            <input type="number" name="Ord" required="required"
                   min="1" max="10" placeHolder="1" value="{Entity.Ord}"
                   class="form-control {eOrdClass}" />

            <!-- Check visible -->
            <div class="checkbox">
                <label class="sr-only">
                    <input type="checkbox" name="Visible" id="Visible"
                           data-checked="{Entity.Visible}" />Visible</label>
                <button type="button" onclick="setVisible(this);"
                    class="btn btn-default btn-sim-check"
                    data-value="{Entity.Visible}" role="button">Visible</button>
            </div>

        </div>

        <!-- Errores de controles en línea  -->
        <div class="form-group {eCategoryClass} {eReferenceClass} {ePriceClass} {eOrdClass}">
            <p class="help-block">
                {eCategory} {eReference} {ePrice} {eOrd}
            </p>
        </div>

        <!-- Formulario detalle -->
        <div class="row" id="frmXml"></div>

        <!-- Controles de navegación -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary" role="button" >
                Guardar</button>
            <a href="{Path}/Products/Index?Page={Page}" class="btn btn-default"
               role="button">Volver</a>
        </div>

        <!-- Resultado de la operación -->
        <div class="form-group {eResultClass}" >
            <p class="help-block">{eResult}</p>
        </div>

    </form>
</div>
