<!--Layout={_layout.html}-->

<!-- Contenedor principal -->
<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <h2>Configuración del servicio</h2>
        </div>
    </div>

    <br />

    <!-- Formulario información del proyecto -->
    <form onsubmit="return setProjectInformation(this);">
        <input type="hidden" name="Id" value="{Info.Id}" />
        <h4>Información del proyecto para los ticket de pago</h4>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label class="sr-only">Título</label>
                    <input type="text" name="Title" class="form-control"
                           placeholder="Título del ticket" required="required"
                           value="{Info.Title}" maxlength="200" />
                    <p class="help-block">
                        Introduzca el título de los ticket
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label class="sr-only">C.I.F.</label>
                    <input type="text" name="CIF" class="form-control"
                           placeholder="CIF" required="required"
                           value="{Info.CIF}" maxlength="15" />
                    <p class="help-block">
                        Introduzca el cif de la empresa
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label class="sr-only">Teléfono</label>
                    <input type="text" class="form-control" name="Phone"
                           placeholder="Teléfono" required="required"
                           value="{Info.Phone}" maxlength="15" />
                    <p class="help-block">
                        Introduzca el teléfono de contacto
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <input type="email" class="form-control" name="Email"
                           placeholder="Email" required="required"
                           value="{Info.Email}" maxlength="200" />
                    <p class="help-block">
                        Introduzca el email de contacto
                    </p>
                </div>
            </div>

        </div>

        <div class="form-group">
            <label class="sr-only">Dirección</label>
            <textarea name="Address" class="form-control"
                      placeholder="Dirección" required="required"
                      maxlength="500">{Info.Address}</textarea>
            <p class="help-block">
                Introduzca la dirección física del negocio
            </p>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    </form>

    <br />

    <div class="table-responsive">
        <h4>Métodos de entrega</h4>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="td-checkbox">#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <!--DeliveryMethods-->
                <tr>
                    <td class="td-checkbox">
                        <input type="checkbox" onchange="setDeliveryMethod(this)"
                               data-id="{item.Id}" data-checked="{item.Checked}" />
                    </td>
                    <td>{item.Name}</td>
                    <td>{item.Description}</td>
                </tr>
                <!--DeliveryMethods-->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="table-responsive">
        <h4>Formas de pago</h4>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="td-checkbox">#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <!--PaymentMethods-->
                <tr>
                    <td class="td-checkbox">
                        <input type="checkbox" onchange="setPaymentMethod(this)"
                               data-id="{item.Id}" data-checked="{item.Checked}" />
                    </td>
                    <td>{item.Name}</td>
                    <td>{item.Description}</td>
                </tr>
                <!--PaymentMethods-->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <h4>Códigos postales</h4>
    <!--PostCodes-->
    <label>
        <input type="checkbox" onchange="setPostCode(this)"
               data-id="{item.Id}" data-checked="{item.Checked}" />
        {item.Code}<a href="http://www.codigospostales.com/{item.Code}" target="_blank" >
            <span class="glyphicon glyphicon-globe"></span></a></label>
    <!--PostCodes-->

    <br /><br />

</div>

<script type="text/javascript">

    /**
     * Actualización de la relación de proyecto - método de entrega
     * @param {Object} obj Referencia al control
     * @returns {Void}
     */
    function setDeliveryMethod(obj){
        var url = $("#current_path").val()
                + "/Configuration/SetDeliveryMethod/" + $(obj).data("id");
        $.post(url,function(data){
            if(data.Result !== true){
                $(obj).prop("checked", !$(obj).is(":checked"));
            }
        });
    }

    /**
     * Actualización de la relación de proyecto - forma de pago
     * @param {Object} obj Referencia al control
     * @returns {Void}
     */
    function setPaymentMethod(obj){
        var url = $("#current_path").val()
                + "/Configuration/SetPaymentMethod/" + $(obj).data("id");
        $.post(url,function(data){
            if(data.Result !== true){
                $(obj).prop("checked", !$(obj).is(":checked"));
            }
        });
    }

    /**
     * Actualización de la relación de proyecto - código postal
     * @param {Object} obj Referencia al control
     * @returns {Void}
     */
    function setPostCode(obj){
        var url = $("#current_path").val()
                + "/Configuration/SetPostCode/" + $(obj).data("id");
        $.post(url,function(data){
            if(data.Result !== true){
                $(obj).prop("checked", !$(obj).is(":checked"));
            }
        });
    }

    function setProjectInformation(obj){
        event.preventDefault();
        var url = $("#current_path").val() + "/Configuration/SetInformation";
        $.post(url,$(obj).serialize(),function(data){
            if(data.Result=== true){
                alert("La información ha sido guardada correctamente")
            }
            elseif(data.Result === false && data.Codes !== undefined) {
                alert("Los datos no han sido guardados. Revise los campos del formulario");
            }
            else{
                alert("Se ha producido un error interno. Inténtelo más tarde");
            }
        });
        return false;
    }

</script>
